@font-face {
    font-family: "Manglobalpro";
    src: url("fonts/Manglobalpro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "maneurope-light";
    src: url("fonts/maneurope-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   header{
       width: 100%;
       max-width: 1920px;
       margin: 0 auto;
   }

   .header-wrapper{
       width: 100%;
       max-width: 1120px;
       margin: 0 auto;
       margin-bottom: -20px;
   }

   .main-navigation,
   .main-navigation1{
       display: flex;
       list-style: none;
       margin-bottom: 5px;
   }

   .main-navigation1{
       margin-left: 20px;
       margin-right: 10px;
   }

   .main-navigation li{
       position: relative;
   }

   .main-navigation li a{
        font-family: "Manglobalpro";
        text-transform: uppercase;
        text-decoration: none;
        color: #303c49;
        font-size: 13px;
        white-space: nowrap;
   }

   .text-logo{
    font-family: "maneurope-light";
    font-weight: 100;
    color: #a9aeb3;
    margin-left: 20px;
    display: block;
    font-size: 13px;
    margin-top: 20px;
   }

   .text-logo1{
    font-family: "maneurope-light";
    font-weight: 100;
    color: #a9aeb3;
    padding-top: 10px;
    font-size: 13px;
    white-space: nowrap;
   }

   .main-navigation li a:hover,
   .main-navigation li a:active{
       color: #e40045;
   }

   .main-navigation li{
       margin-right: 23px;
   }

   .search-button{
       width: 23px;
       height: 23px;
       border: 0;
       cursor: pointer;
       background: transparent;
   }

   body > header > div > div > div.header-margin > div{
       display: flex;
       z-index: 222;
       position: absolute;
       left: -169px;
       top: 24px;
       display: none;
   }

   body > header > div > div > div.header-margin > div > input{
       width: 150px;
       position: relative;
   }

   #search > button{
    position: absolute;
    top: 15px;
    left: 161px;
   }

   .main-logo{
       z-index: 22;
       margin-top: -25px;
   }

.header-margin{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.menubutton{
    width: 75px;
    padding-top: 10px;
    display: none;
    margin-left: 20px;
}

.menuitem{
    display: block;
    width: 30px;
    height: 2px;
    background-color: #303c49;
    margin: 0 auto;
    margin-bottom: 6px;
}

.mobile-text{
    display: none;
}

#mainsearch{
    display: none;
}

.sub-menu-container{
    position: absolute;
    top: calc(100% + 1px);
    width: 100%;
    height: 295px;
    min-width: 1120px;
    left: -335px;
    right: 0;
    z-index: 1000;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .2);
    border-top: 1px solid #303c49;
    padding-top: 10px;
    padding-bottom: 20px;
    display: none;
}

.main-navigation li:hover .sub-menu-container{
    display: block;
}

.bus-dropdown{
    left: -453px;
}

.service-dropdown{
    left: -535px;
}

.sub-menu{
    list-style: none;
    position: relative;
}

.sub-menu1{
    position: absolute;
    top: -73px;
    left: 282px;
    width: 200px;
    display: none;
    padding-left: 10px;
    height: 100%;
}

.sub-menu1 li{
    width: 100%;
}

.sub-menu h4{
    margin-left: 10px;
    white-space: nowrap;
}

.sub-stroy{
    top: -115px;
}

.sub-perevoz{
    top: -157px;
}

.sub-technology{
    top: -199px;
}

.sub-bus{
    top: -31px;
}

.sub-menu li{
    display: block;
    padding: 10px 15px 10px 0;
    border-top: 1px solid;
    border-color: #d6d8db;
    width: 26%;
    padding-left: 10px;
    padding-right: 10px;
}

.sub-menu3{
    position: relative;
    width: 40%;
}
.sub-menu3::after{
    content: "›";
    position: absolute;
    color:#303c49;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sub-menu4{
    display: none;
}

.sub-menu3:hover .sub-menu4{
    display: block;
}

.sub-menu3:hover .sub-menu1{
    display: block;
}

@media screen and (max-width: 1050px) and (min-width: 900px){
    .main-logo{
        opacity: 0;
    }
    html{
        overflow-x: hidden;
    }
}

@media screen and (max-width: 955px) {
    .select{
        width: 110px;
    }
}

@media screen and (max-width: 900px) {
    .menubutton{
        display: block;
        cursor: pointer;
    }
    #mainsearch{
        display: block;
    }
    #search{
        display: none;
    }
    .main-navigation,
    .search-button,
    .select{
        display: none;
    }
    .main-navigation li a{
        padding: 15px 40px 15px 15px;
    border-bottom: 1px solid #586f87;
    height: auto;
    line-height: 1.2;
    display: block;
    }
    .text-logo{
        display:none;
    }
    .mobile-text,
    .text-logo1{
        display: block;
    }
    .main-navigation1{
        margin-left: 0px;
        margin-right: 0px;
    }
    .main-navigation{
        position: relative;
        top: 30px;
        margin-bottom: 72px;
        width: 100%;
        left: -181px;
    }
}
@media screen and (max-width: 385px) {
    .main-logo{
        width: 30%;
        height: 82px;
        margin-top: 5px;
    }
    .mobile-text{
        margin-left: 20px;
        margin-right: 30px;
        margin-bottom: 40px;
    }
}
