*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Montserrat', 'BebasNeueBold', sans-serif; 
}

body{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.top{
    background-color: #19202d;
    border-bottom: 1px solid #3a628d;
    height: 75px;
    opacity: 0.9;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 1800px;
   }

.top__menubutton{
    width: 75px;
    padding-top: 10px;
    display: none;
}

.top__menuitem{
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 4px;
}

.navigatioin__menu{
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.top__logo{
    font-family: 'Poppins';
    font-size: 33px;
    color: #fff;
    font-weight: 900;
    padding: 21px 27px 0 20px;
    border-right: 1px solid #4c515a;
    border-left: 1px solid #4c515a;
    height: 74px;
}

.navigation__item{
    font-size: 13px;
    margin-right: 35px;

}

.navigation__item--first{
    margin-left: 40px;
}

.navigation__link{
    color: #fff;
    transition: 0.2s;
}

.navigation__link:hover{
    color: #3753da;
    transition: 0.2s;
}

.top__socials{
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid #4c515a;
    border-left: 1px solid #4c515a;
    width: 100%;
    height: 75px;
    padding: 27px 7px 0 40px;
}

.top__cart{
    border-right: 1px solid #4c515a;
    padding: 27px 7px 0 40px;
    height: 75px;
}

.top__search{
    padding: 27px 7px 0 40px;
    height: 75px;
}

i{
    color: white;
    font-size: 20px;
    margin-right: 35px;
    transition: 0.5s;
}

i:hover{
    color: #344dc2;
    transition: 0.5s;
}

.site-top{
    height: 901px;
    background: url(img/Layer%208.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.site-top__text-wrapper{
    text-align: center;
    padding-top: 236px;
    margin-right: 750px;
}

.site-top__header{
    font-family: 'Poppins';
    font-size: 203px;
    font-weight: 700;
    color: #fff;
    line-height: 147px;
    text-transform: uppercase;
    margin: 0;
}

.site-top__underheader{
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: 11px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin: 30px 0 60px 0;
}

button{
    width: 159px;
    height: 48px;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.button--top{
    background-color: #3954d9;
}

.main-wrapper{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: -75px;
    z-index: 2;
}

.shipping{
    width: 375px;
    padding: 80px 80px 65px 80px;
    border-right: 1px solid #c7c7c7;
    text-align: center;
}

.shipping:last-child{
    border-right: none;
}

.free-shipping{
    display: flex;
    background-color: #fff;
}

.shipping__img{
    text-align: center;
    margin-bottom: 50px;
    width: 50px;
    height: 50px;
}

.shipping__header{
    font-family: sans-serif;
    color: #0d2e57;
    font-size: 27px;
    vertical-align: -25px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
    }

.shipping__text{
    color: #8a8a8a;
    font-size: 12px;
}

.shipping__link{
    display: block;
    font-size: 12px;
    margin-top: 20px;
    font-weight: bold;
}

.advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages__container{
    width: 374px;
    height: 374px;
    padding: 50px;
    border-right: 1px solid #c7c7c7;
    }

.advantages__item{
    width: 100%;
    max-width: 374px;
    height: 374px;
    border-right: 1px solid #c7c7c7;
    padding: 70px 60px 60px 50px;
    background-color: #232323;
}

.advantages__header{
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    font-family: fantasy;
    font-weight: normal;
}

.advantages__text{
    color: #fff;
    margin: 30px 0 30px 0;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    line-height: 1.6;
    font-size: 14px;
}

.advantages__block{
    width: 750px;
    background-image: url(/img/Layer17.jpg);
    background-repeat: no-repeat;
    padding: 75px 0 0 50px;
}

.advantages__button{
    background-color: #3954d9;
}

.advantages__blockheader{
    color: #fff;
    font-family: 'Poppins';
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 61px;
    margin-bottom: 23px;
    
}

.offer{
    background-color: #f2f0f0;
    display: flex;
}

.offer__wrapper{
    width: 50%;
    padding: 125px 125px 80px 126px;
    text-align: center;
}

.offer__picture{
    height: auto;
    width: 50%;
    }

.offer__upheader{
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 20px;
    vertical-align: 50px;
    color: #616161;
    font-weight: 600;
    margin-bottom: 30px;
}

.offer__header{
    font-family: sans-serif;
    color: #0d2e57;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 50px;
}

.offer__text{
    color: #8a8a8a;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}

.offer__price{
    font-family: 'Montserrat';
    font-size: 52px;
    color: #3753da;
    font-weight: bold;
}

.offer__discount{
    font-family: 'Montserrat';
    font-size: 32px;
    color: #121212; 
}

.offer__wrapper-flex{
    display: flex;
    justify-content: center;
}

.offer__timer{
    height: 105px;
    width: 90px;
    background-color: #fff;
    border-radius: 20px;
    margin: 55px 12px 40px 0;
    font-size: 20px;
    font-weight: 200;
}

.offer__button{
    background-color: #3954d9;
}

.items{
    display: flex;
}

.items__container{
    width: 25%;
    min-width: 285px;
    height: 374px;
    border-right: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    padding: 50px;
}

.items__container:last-child{
    border-right: none;
}

.items__img{
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}

.items__header{
    font-family: sans-serif;
    color: #0d2e57;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.items__price{
    font-family: 'Montserrat';
    font-size: 13px;
    color: #3753da;
    font-weight: bold;
    margin-right: 5px;
}

.items__discount{
    font-family: 'Montserrat';
    font-size: 12px;
    color: #818181;
    font-weight: 600;
}

.ancor{
    height: 80px;
}

.ancor__text{
    font-family: 'Montserrat';
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #3753da;
    padding-top: 35px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery__image{
    width: 100%;
    height: auto;
    max-width: 375px;
    transition: 0.5s;
}

.gallery__image:hover{
   transform: scale(1.2);
   transition: 0.5s;
}

.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brands__item{
    display: block;
    margin: 0 auto;
    margin-top: 25%;
}

.brands__wrapper{
    width: 250px;
    height: 250px;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    background: #fff;
}

.brands__wrapper:nth-child(7,8,9,10,11,12){
    border-bottom: none;
}

footer{
    height: 585px;
    background-image: url(img/Footer%20BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    margin-top: -90px;
    padding: 190px 200px 100px 190px;
   }

.footer__wrapper{
    display: flex;
    justify-content: flex-start;
}

.footer__item{
    width: 280px;
}

.footer__text{
    display: block;
    color: #fff;
    line-height: 31px;
}

.footer__header{
    font-family: 'Poppins';
    text-transform: uppercase;
    color: #344dc2;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 35px;
}

.footer__input{
    width: 100%;
    max-width: 300px;
    background-color: #2f2f2f;
    border: none;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
}

.footer__socials{
    margin-left: 180px;
}

.footer__wrapper{
    display: flex;
    margin-bottom: 30px;;
}

.footer__button{
    background-color: #3753da;
    margin-top: 30px;
}

.footer__socials--mobile{
    display: none;
}

/*Adaptive*/

@media screen and (max-width: 1245px){
 footer{
     padding:  150px 10px 150px 10px;
 }
 .footer__socials{
     margin-left: 0px;
 }
}

@media screen and (max-width: 1142px){
    .free-shipping,
    .items{
        flex-wrap: wrap;
        justify-content: center;
    }
    .shipping,
    .items__container,
    .brands__wrapper,
    .advantages__container{
        border: none;
    }
    .items__img{
        width: 100%;
        height: auto;
    }
    .offer__picture{
        display: none;
    }
    .offer__wrapper{
        width: 100%;
    }
    .site-top{
        background-size: 100%;
        height: 700px;
        }
    .site-top__header{
        font-size: 100px;
        line-height: 85px;
    }
    .site-top__text-wrapper{
        padding-top: 100px;
        margin-right: 63%;
    }
    .top__cart,
    .top__search{
        display: none;
    }
}

@media screen and (max-width: 1010px){
    .site-top{
        background-size: cover;
    }
    .top__socials{
        display: none;
    }
}


@media screen and (max-width: 768px){
    .footer__socials--mobile{
        display: block;
        position: fixed;
        top: 95%;
        left: 31%;
        margin: 0;
        text-align: center;
       }
    .footer__socials--mobile > h5{
        display: none;
    }
    i{
        color: #0dee58;
    }
    .top__menubutton{
        display: block;
        cursor: pointer;
    }
    .footer__menu{
        display: none;
    }
    footer{
        height: 0px;
        background-image: none;
    }
    .top{
        height: auto;
    }
    .navigatioin__menu{
        display: none;
    }
    .navigation__item--first{
        margin-left: 0px;
    }
    .navigation__item{
        font-size: 20px;
    }
}

@media screen and (max-width: 480px){
    .site-top__header{
        font-size: 50px;
    }
    .advantages__block{
        display: none;
    }
    .top__logo{
        font-size: 25px;
        border: none;
    }
    .advantages__header{
        font-size: 30px;
    }
}
