@font-face {
    font-family: "Manglobalpro";
    src: url("fonts/Manglobalpro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "maneurope-light";
    src: url("fonts/maneurope-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.form-wrapper{
    width: 100%;
    max-width: 1140px;
    text-align: center;
    background-color: #f0f1f2;
    margin: 0 auto;
    padding: 30px 15px 15px 15px;
}

.form-header{
    font-family: "Manglobalpro";
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
}

.flex-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-label{
    display: block;
    color: #303c49;
    font-family: "Manglobalpro";
    font-size: 15px;
    text-align: left;
    margin-bottom: 7px;
    margin-top: 15px;
}

.form-input{
    width: 354px;
    height: 40px;
    border: 1px solid #d6d8db;
    padding-top: 5px;
    padding-left: 15px;
    border-radius: 4px;
}

.form-input::placeholder{
    font-family: "maneurope-light";
    font-size: 15px;
    color: #c3c6ca;
}

.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #d6d8db;
    height: 5px;
    vertical-align: bottom;
    width: 354px;
    margin: 40px 0 40px 0;
    outline: none;
    position: relative;
}

.range-width{
    max-width: 1010px;
    width: 80vw;
    position: relative;
}

.range-width::before{
    content: '0';
    position: absolute;
    display: block;
    left: -10px;
    bottom: -6px;
}

.range-width::after{
    content: '1 500 000';
    position: absolute;
    display: block;
    left: 100%;
    white-space: nowrap;
    bottom: -5px;
}

.range1::after{
    content: 'До 25 000 000';
    margin-top: 8px;
    display: block;
    position: absolute;
    left: 260px;
}

.range2::after{
    content: 'От 10 до 40%';
    margin-top: 8px;
    display: block;
    position: absolute;
    left: 260px;
}

.range3::after{
    content: 'От 12 до 16 месяцев';
    margin-top: 8px;
    display: block;
    position: absolute;
    left: 220px;
}

.star-text{
    color: #e40045;
}

.mr-right{
    margin-right: 24px;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 13px;
    height:13px;
    background:#303c49;
    border-radius:18px;
    cursor:pointer;
    transition:.1s;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.range::-moz-range-thumb {
    width: 0;
    height: 0;
    border: 0;
}
   
.range::-ms-thumb {
    width: 0;
    height: 0;
    border: 0;
}

.form-button{
    width: 100%;
    height: 40px;
    background-color: #e40045;
    border: none;
    border-radius: 4px;
    font-family: "Manglobalpro";
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.last-form{
    width: 90vw;
    max-width: 1111px;
    margin-bottom: 30px;
}

@media (max-width: 1100px){
    .form-input,
    .range{
        width: 320px;
    }
}

@media (max-width: 400px){
    .form-input,
    .range{
        width: 302px;
    }
    .range-width{
        width: 200px;
    }
    .flex-wrapper{
        justify-content: center;
    }
}