div.price_block > div > div > div > span.old{
    display: none;
}

.new{
    font-size: 30px !important;
    color: #333333 !important;
}

.price_block__left{
    padding: 20px 30px 0px 20px !important;
}

.alarm{
    color: #b81721;
    font-size: 10px;
}

.dostavka{
    margin-bottom: 0px;
    font-size: 11px;
    color: #333333;
}

.inshop{
    color: #b81721 !important;
    font-size: 20px !important;
    text-align: right;
}

.wrapper1{
    display: flex;
    justify-content: space-between;
}

.calculator{
    width: 99.5%;
    height: auto;
    border: 1px solid #cff0f9;
    padding-bottom: 5px;
}

.calc-header{
    display: flex;
}

.text-header,
.text-header1{
    font-size: 11px;
    color: #333333;
    padding: 14px 0px 14px 25px;
    border-bottom: 1px solid #cff0f9;
    width: 100%;
    cursor: pointer;
    margin-bottom: 35px;
    font-weight: 500;
}

.upakovka{
    border-right: 1px solid #cff0f9;
}

.flex{
    display: flex;
    justify-content: flex-start;
}

.calc-text{
    font-size: 11px;
    color: #333333;
    margin-left: 25px;
}

.calc-discount{
    font-size: 11px;
    color: #468d1f;
    margin-left: 60px;
}

.input-meter{
    width: 76px;
    border: 1px solid #cff0f9;
    margin-left: 9px;
    margin-right: 5px;
}

.input-pack{
    width: 76px;
    border: 1px solid #cff0f9;
    margin-left: 22px;
    margin-right: 5px;
}

.calc-summary{
    font-size: 19px;
    color: #333333;
    margin-left: 62px;
}

.calc-price{
    font-size: 2em;
    color: #333333;
    font-weight: bold;
    margin-left: 64px;
}

.calc-label{
    margin-left: 25px;
}

.btn-buy{
    display: block;
    margin-bottom: 5px;
    width: 100px;
    margin: 0 auto;
}

.calc-wrapper{
    position: relative;
}

.content-1{
    z-index: 8;
}

.calc-active{
    display: block;
}

.calc-discount__2{
    font-size: 19px;
    color: #333333;
    margin-left: 73px;
}

@media (max-width: 800px) {
    .calculator{
        height: auto;
    }
}

@media (max-width: 480px) {
    .calc-summary{
        font-size: 19px;
    }
    .calc-label,
    .calc-text{
        margin-left: 0px;
    }
    .calc-price{
        margin-left: 10px;
    }
}