@font-face {
    font-family: "adineuePROKZ";
    src: url("../fonts/adineuePROKZ-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "adineuePRO-kur-light";
    src: url("../fonts/adineuePRO-kur-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CenturyGothic-Bold";
    src: url("../fonts/CenturyGothic-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helios-Cond";
    src: url("../fonts/HeliosCondBlackC.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    font-family: "adineuePRO-kur-light";
    letter-spacing: 1px;
    font-size: 20px;
    color: #6e6e6e;
}

header,
nav{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
    width: 100.4%;
}

td{
    border: 1px solid #6e6e6e;
    padding: 15px 30px;
    font-size: 10px;
}

.popup-list{
    list-style: url(../img/check-mark2.png);
    margin-left: 60px;
}

.popup-list li{
    font-size: 18px;
    color: #565656;
    line-height: 25px;
    text-align: left;
}

.popup-group .group-text{
    font-size: 18px;
    color: #565656;
    line-height: 25px;
    text-align: left;
    padding-top: 0;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
    display: block;
    height: auto;
    max-height: 85vh;
    overflow-y: auto;
}

.popup-group .popup-header{
    margin-bottom: 40px;
}

.td-question{
    font-weight: bold;
}

.last-question{
    border-bottom: none;
    border-left: none;
}

.last-ask{
    border-bottom: none;
    border-right: none;
}

body,
footer{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper-content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
    padding: 18px 0 18px 0;
    margin-left: 9%;
}

header{
    height: 120px;
}

.contacts{
    margin-left: 120px;
    margin-right: 9%;
    text-align: right;
    padding: 18px 0;
    width: 350px;
}

.contacts span{
    font-family:"adineuePROKZ";
    font-size: 35px;
    color: #565656;
    font-weight: bold;
    line-height: 55px;
}

.contacts a{
    text-decoration: none;
}

.socials{
    width: 265px;
}

.socials img{
    margin-right: 10px;
}

.adress{
    background-color: #edc22e;
    width: 30%;
    padding-left: 90px;
    vertical-align: middle;
    font-family:"adineuePROKZ";
    font-size: 30px;
    color: #565656;
    padding-top: 26px;
}

.menubutton{
    width: 75px;
    padding-top: 10px;
    display: none;
}

.menuitem{
    display: block;
    width: 30px;
    height: 4px;
    background-color: #000000;
    margin: 0 auto;
    margin-bottom: 4px;
}

.adress span{
    border-bottom: 3px solid #565656;
    cursor: pointer;
}

.adress img{
    margin-left: 30px;
}

.bg-orange{
    background-color: #edc22e;
}

.bg-white{
    background-color: #ebebeb;
}

.main-navigation{
    list-style: none;
    width: 100%;
    background: -o-linear-gradient(left , #edc22e 70%, #ebebeb 30%);
    background: -webkit-gradient(linear , left top, right top , color-stop(70%, #edc22e), color-stop(30%, #ebebeb));
    background: linear-gradient(to right , #edc22e 70%, #ebebeb 30%);
}

.nav-item{
    margin-right: 3.5%;
    height: 46px;
    vertical-align: middle;
    padding-top: 13px;
    white-space: nowrap;
}

.last-item{
    background-color: #ebebeb;
}

.last-item li:nth-child(1){
    margin-left: 40px;
    margin-right: 50px;
}

.last-item li:nth-child(2){
    margin-right: 60px;
}

.first-item{
    margin-left: 120px;
}

.nav-item a{
    text-decoration: none;
    color: #565656;
    font-family: 'CenturyGothic-Bold';
    font-size: 15px;
}

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-wrapper{
    width: 70%;
}

.main-banner{
    background-image: url(../img/pedro-lastra-Nyvq2juw4_o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h1{
    padding-top: 180px;
    padding-bottom: 40px;
    font-size: 90px;
    text-transform: uppercase;
    color: #ffffff;
    font-family:"adineuePROKZ";
}

h1 span{
    color: #edc22e;
    
}

button{
    background-color: #edc22e;
    color: #ffffff;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    font-family:"adineuePROKZ";
    letter-spacing: 2px;
    padding-top: 0.5%;
}

.main-button{
    margin-bottom: 245px;
    width: 290px;
    height: 65px;
    text-transform: uppercase;
    -webkit-box-shadow: 4px 1px 131px 0px rgba(0, 0, 0, .53);
            box-shadow: 4px 1px 131px 0px rgba(0, 0, 0, .53);
}

.timer h4{
    font-family: "adineuePROKZ";
    font-size: 62px;
    color: #f6932e;
    line-height: 60px;
    margin-right: 85px;
    margin-top: 28px;
}

.timer h4 span{
    color: #edc22e;
    font-size: 45px;
}

.time{
    width: 140px;
    height: 168px;
    border-radius: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 63px;
    position: relative;
}

.timer-container{
    margin-right: -45px;
}

.days::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #edc22e;
    position: absolute;
    left: 161px;
    top: 60px;
}

.days::after{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #edc22e;
    position: absolute;
    left: 161px;
    bottom: 66px;
}

.timer > div.wrapper-content > div > div:nth-child(4) > div{
    margin-right: 0px;
}

.time span{
    font-family: "adineuePROKZ";
    font-size: 80px;
    color: #ffffff;
}

.under-time{
    font-family: "adineuePROKZ";
    padding-left: 20%;
    font-size: 25px;
    line-height: 40px;
}


body > section.timer > div.wrapper-content > div > div:nth-child(3) > p,
body > section.timer > div.wrapper-content > div > div:nth-child(4) > p{
    padding-left: 8%;
}

.button-timer{
    width: 100%;
    max-width: 623px;
    height: 74px;
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
}

.center-button{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.timer h5{
    font-family: "adineuePROKZ";
    padding-left: 55%;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.levels{
    border-top: 5px solid #e9bf2d;
    border-bottom: 5px solid #e9bf2d;
    width: 100%;
    background-image: url(../img/bg-repeat.JPG);
}

.card{
    width: 100%;
    max-width: 360px;
    height: 846px;
    background-color: #ffffff;
    -webkit-box-shadow: 7px 7px 29px 0px rgba(0, 0, 0, .18);
            box-shadow: 7px 7px 29px 0px rgba(0, 0, 0, .18);
    border-radius: 7px;
    margin: 75px 0 85px 0;
    position: relative;
}

.jc-flex{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.card-header{
    padding: 21px 95px 20px 30px;
    border-radius: 7px;
}

.card-header p{
    font-family:"adineuePROKZ";
    font-size: 30px;
    color: #ffffff;
    line-height: 45px;
}

.card-main{
    padding: 50px 60px 0 20px;
    line-height: 30px;
}

.why{
    background: -o-linear-gradient(top, transparent, #ffffff 50%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, #ffffff));
    background: linear-gradient(to bottom, transparent, #ffffff 50%);
    height: 514px;
}

.why p{
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;
}

.why img{
    margin-bottom: 30px;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
    max-width: 379px;
}

.text{
    line-height: 30px;
    letter-spacing: 1.5px;
}

.text-teachers{
    height: auto;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.button-level{
    position: absolute;
    top: 88%;
    left: 12%;
}

.button-level2{
    position: absolute;
    top: 78%;
    left: 25%;
}

.bg-girafe1{
    background-repeat: no-repeat;
    background-position: 91% 73%;
}

.bg-girafe2{
    background-repeat: no-repeat;
    background-position: 95% 77%;
}

.levels-2{
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.card-next{
    width: 100%;
    max-width: 558px;
    height: 420px;;
}

.test{
    text-align: center;
    padding-top: 70px;
}

.test h4{
    color: #ffffff;
    font-size: 50px;
    font-family:"adineuePROKZ";
    line-height: 60px;
    letter-spacing: 3px;
}

.test p{
    color: #ffffff;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 3px;
}

.test button{
    width: 100%;
    max-width: 410px;
    height: 84px;
    background-color: #ffffff;
    color: #636363;
    margin-top: 35px;
    margin-bottom: 45px;
    -webkit-box-shadow: 3px 3px 8px 2px rgba(197, 132, 35, 61);
            box-shadow: 3px 3px 8px 2px rgba(197, 132, 35, 61);
}

.video iframe{
    border-radius: 11px;
    width: 100%;
    max-width: 378px;
}

.teacher-item{
    width: 100%;
    max-width: 379px;
    text-align: center;
    margin-bottom: 40px;
}

.wrap{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.button-more{
    width: 265px;
    height: 58px;
    -webkit-box-shadow: 1px 3px 11px -3px rgba(197, 132, 35, 39);
            box-shadow: 1px 3px 11px -3px rgba(197, 132, 35, 39);
}

.teachers h3{
    margin-top: 85px;
    margin-bottom: 90px;
   }

h3{
    margin-top: 87px;
    margin-bottom: 93px;
    font-family: "Helios-Cond";
    font-size: 50px;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.teacher-name{
    font-family: "adineuePROKZ";
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.teachers > div > p{
    font-size: 18px;
    color: #8c8c8c;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.why{
    -webkit-box-shadow: 7px 7px 29px 0px rgba(0, 0, 0, .18);
            box-shadow: 7px 7px 29px 0px rgba(0, 0, 0, .18);
}

.why-we,
.advantages{
    padding-top: 85px;
}

.why-we h3{
    color: #ffffff;
    margin-bottom: 90px;
}

.advantages h3{
    color: #ffffff;
    margin-bottom: 100px;
}

.advantages-item{
    width: 187px;
    margin-bottom: 75px;
}

.advantages-item span{
    font-family: "Helios-Cond";
    color: #ffffff;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
}

.advantages-item span::before{
    content: '';
    display: block;
    width: 58px;
    height: 4px;
    background-color: #ffffff;
    margin-top: 24px;
    margin-bottom: 20px;
}

svg{
    width: 50%;
    height: 170px;
}

.str0 {
    stroke:#E8E8E8;
    stroke-width:150;
    stroke-miterlimit:22.9256
}

.fil0 {
    fill:none
}

.fil1 {
    fill:#E9E9E9;
    fill-rule:nonzero
}

svg:hover .str0{
    stroke: #edc22e;
}

svg:hover .fil1{
    fill: #edc22e;
}

.process-item{
    width: 100%;
    max-width: 379px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
}

.process-item p{
    width: 50%;
    font-size: 15px;
    line-height: 22px;
    color: #888888;
    text-transform: uppercase;
}

.process h3{
    margin-top: 70px;
    margin-bottom: 80px;
}

.choise-item span{
    text-align: center;
    padding: 60px 50px 40px 50px;
    display: block;
}

.make-choise,
.feedback{
    position: relative;
}

.choise-button{
    width: 100%;
    max-width: 208px;
    height: 46px;
    margin-left: 25px;
    margin-bottom: 58px;
    -webkit-box-shadow: 1px 3px 11px -3px rgba(197, 132, 35);
            box-shadow: 1px 3px 11px -3px rgba(197, 132, 35);
}

.prev-slide{
    border: 60px solid transparent;	
    border-right: 35px solid #e7be2d;
    cursor: pointer;
    position: absolute;
    top: 35%;
    right: 83.5%;
    z-index: 5;
}

.next-slide{
    border: 60px solid transparent;	
    border-left: 35px solid #e7be2d;
    cursor: pointer;
    position: absolute;
    left: 82%;
    top: 35%;
    z-index: 5;
}

.next-slide1{
    cursor: pointer;
    position: absolute;
    left: 82%;
    top: 47%;
    z-index: 5;
}

.prev-slide1{
    cursor: pointer;
    position: absolute;
    top: 47%;
    right: 83.5%;
    z-index: 5;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1)
}

.feedback{
    margin-bottom: 90px;
}

.feedback-item{
    width: 100%;
    max-width: 850px;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    height: auto;
    min-height: 297px;
    margin: 0 auto;
    padding: 35px 60px 0 29px;
}

.feedback h3{
    margin-top: 80px;
    margin-bottom: 70px;
}

.feedback-item img{
    border-radius: 50%;
    margin-right: 35px;
    width: 161px !important;
}

.feedback-name{
    font-family: "Helios-Cond";
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.text-feedback{
    font-size: 18px;
    line-height: 25px;
}

.make-choise h3{
    margin-top: 30px;
    margin-bottom: 80px;
}

.choise-item{
    width: 100%;
    max-width: 260px;
    -webkit-box-shadow: 7px 7px 29px 0px rgba(0, 0, 0, .18);
            box-shadow: 7px 7px 29px 0px rgba(0, 0, 0, .18);
    margin-bottom: 155px;
    height: 487px;
}

.choise-item img{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
    height: auto;
}

.choise-item img:hover{
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.form{
    background-image: url(../img/figure.png);
    height: auto;
    min-height: 337px;
    padding: 40px 100px 0 70px;
    margin-bottom: 82px;
}

.form h4{
    font-family: "Helios-Cond";
    color: #ffffff;
    text-transform: uppercase;
    font-size: 50px;
    width: 174%;
}

input,
select{
    width: 100%; 
    max-width: 340px;
    height: 48px;
    border-radius: 40px;
    border: 0;
    margin-bottom: 10px;
    vertical-align: middle;
    padding-left: 30px;
}

.button-form{
    width: 100%;
    max-width: 340px;
    background-color: #f6932e;
    text-transform: uppercase;
    height: 47px;
    -webkit-box-shadow: 0px 9px 1px -2px rgba(149, 94, 16, 1);
            box-shadow: 0px 9px 1px -2px rgba(149, 94, 16, 1);
    margin-top: 10px;
    margin-bottom: 58px;
}

.name-input::-webkit-input-placeholder{
    vertical-align: middle;
}

.name-input::-moz-placeholder{
    vertical-align: middle;
}

.name-input:-ms-input-placeholder{
    vertical-align: middle;
}

.name-input::-ms-input-placeholder{
    vertical-align: middle;
}

.name-input::placeholder{
    vertical-align: middle;
}

footer{
    height: 630px;
}

.map,
.contacts-footer{
    width: 50%;
}

.contacts-footer{
    padding: 60px 0 210px 43px;
}

.contact-footer{
    border-left: 5px solid #ffffff;
}

.contact-footer h4{
    font-family: "Helios-Cond";
    color: #ffffff;
    text-transform: uppercase;
    font-size: 41px;
    padding-left: 20px;
}

.contact-footer p{
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 41px;
    padding-left: 20px;
}

.logo-footer{
    margin-bottom: 60px;
}

.logo-footer img{
    width: 100%;
    max-width: 374px;
    height: auto;
}

.popup{
    position: fixed;
    display: block;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    display: none;
    z-index: 10;
}

.popup-adress{
    top: 22%;
    width: 100%;
    max-width: 640px;
    height: auto;
    min-height: 484px;
}

.popup-info{
    top: 22%;
    width: 100%;
    max-width: 444px;
    min-height: 405px;
}

.popup-course{
    top: 22%;
    width: 100%;
    max-width: 1008px;
    max-height: 514px;
}

.popup-complete{
    top: 22%;
    width: 100%;
    max-width: 444px;
    height: 150px;
}

.popup-result{
    top: 1%;
    width: 100%;
    max-width: 834px;
}

.popup-result span{
    padding: 5px;
}

.popup-group{
    top: 1%;
    width: 100%;
    max-width: 647px;
}

.popup-teachers{
    top: 1%;
    width: 100%;
    max-width: 647px;
}

.popup-header button {
    position: absolute; 
    top: 20px; 
    right: 25px; 
}

.popup-group p{
    padding: 40px 54px 56px 54px;
    text-align: left;
    font-size: 18px;
    color: #565656;
    line-height: 25px;
}

.popup-result .info-course input,
.popup-result .info-course select{
    width: 100%;
    max-width: 585px;
}

.popup-result h5{
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 26px;
    font-weight: 100;
    margin-top: 30px;
}

.popup-result h5 span{
    font-weight: bold;
}

.popup-text{
    width: 110%;
    overflow-y: scroll;
    height: 339px;
    padding: 55px 60px 60px 40px;
    text-align: left;
    font-size: 18px;
    color: #565656;
    letter-spacing: 1.5px;
    line-height: 27px; 
}

.popup-test{
    top: 0%;
    width: 100%;
    max-width: 833px;
    height: auto;
    max-height: 95vh;
}

.overlay_popup {
    display:none;
    position:fixed;
    z-index: 9;
    top:0;
    right:0; 
    left:0;
    bottom:0;
    background:#000; 
    opacity:0.5;
  }

.popup-header{
    border-radius: 20px 20px 0 0;
    position: relative;
}

.popup-header h4{
    font-family: "adineuePROKZ";
    font-size: 22.5px;
    color: #565656;
    padding: 18px 0 17px 45px;
}

.info{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.info div{
    height: 213px;
    width: 50%;
    padding: 20px 50px 0px 42px;
    text-align: left;
    letter-spacing: 2px;
}

.popup-button{
    text-transform: uppercase;
    width: 100%;
    max-width: 380px;
    height: 60px;
    margin-top: 40px;
}

.info #phone{
    margin-top: 30px;
}

.popup-info .info{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.info input,
.info select{
    border: 1px solid #b8b8b8;
    width: 100%;
    max-width: 380px;
    margin-top: 40px;
}

.info-course input,
.info-course select{
    border: 1px solid #b8b8b8;
    width: 100%;
    max-width: 380px;
    margin-top: 20px;
}

.button-course{
    margin-top: 20px;
    margin-bottom: 20px;
}

.show{
    display: block;
}

.flex-form{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
}

.progress-bar{
    width: 100%;
    max-width: 337px;
    height: 7px;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    background: -o-linear-gradient(left , #edc22e 70%, #ebebeb 30%);
    background: -webkit-gradient(linear , left top, right top , color-stop(70%, #edc22e), color-stop(30%, #ebebeb));
    background: linear-gradient(to right , #edc22e 70%, #ebebeb 30%);
    position: relative;
}

.text-progress{
    position: absolute;
    top: -20px;
    right: 280px;
}

.test-question{
    color: #e9bf2d;
    font-size: 22.5px;
    padding-top: 20px;
    padding-left: 60px;
    letter-spacing: 2px;
    display: block;
}

.test-name{
    color: #b6b6b6;
    font-size: 22.5px;
    padding-top: 20px;
    padding-left: 60px;
    letter-spacing: 2px;
    text-align: left;
    display: none;
}

.test-button-prev{
    width: 128px;
    height: 47px;
    border: 1px solid #d0d0d0;
    border-radius: 40px;
    background-color: #ffffff;
    margin-right: -70px;
    padding: 1%;
}

.test-button-next{
    width: 200px;
    height: 47px;
    background-color: #edc22e;
    color: #ffffff;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    font-family:"adineuePROKZ";
    letter-spacing: 2px;
    padding-top: 1.5%;
    text-decoration: none;
}

.test-button-prev > img{
    height: 33px;
    width: 75px;
    margin-left: 17px;
}

.test-wrap{
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    width: 339px;
    height: 59px;
    border: 1px solid #b8b8b8;
    border-radius: 40px;
    padding-top: 18px;
    margin: 35px 10px 0 50px;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 19px;
    top: 11px;
    width: 26px;
    height: 26px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 15px;
    height: 15px;
    background: #e9bf2d;
    position: absolute;
    top: 18px;
    left: 25px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
        transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
}

/* custom scrollbar */

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:6px;
    height:0px
    }
    
    ::-webkit-scrollbar-track {
    background-color:#32312e;
    box-shadow:0px 0px 3px #000 inset;
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#ffcb17;
    box-shadow:0px 1px 1px #fff inset;
    background-image:url(../img/59610063.png);
    background-position:center;
    background-repeat:no-repeat;
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:7px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 11px;
    }

@media screen and (min-width: 1850px){
    .nav-item{
        margin-right: 40px;
    }
}

@media screen and (max-width: 1850px){
    .next-slide{
        left: 93%;
    }
    .prev-slide{
        right: 95%;
    }
}

@media screen and (max-width: 1400px){
    .nav-item{
        margin-right: 2.5%;
    }
}

@media screen and (max-width: 1300px){
    .next-slide,
    .prev-slide,
    .next-slide1,
    .prev-slide1{
        display:none;
    }
    header{
        height: auto;
    }
    .logo{
        margin-left: 0;
    }
    .nav-item{
        margin-right: 2%;
    }
    .first-item{
        margin-left: 15vw;
    }
    .nav-item a{
        font-size: 1vw;
    }
}

@media screen and (max-width: 1120px){
    .contacts{
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-item{
        margin-right: 10px
    }
    .nav-item a{
        font-size: 12px;
    }
}

@media screen and (max-width: 1044px){
    .nav-item a{
        font-size: 10px;
    }
}

@media screen and (max-width: 1025px) {
    .card-header p{
        font-size: 25px;
    }
    .text{
        font-size: 17px;
    }
    .adress{
    padding-left: 0px;
    text-align: center;
    }
    .adress > img{
        display: none;
    }
    .test-button-prev{
        margin-right: 0;
    }
    .actions h5{
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .timer,
    .timer-container{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .wrapper-content{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    footer{
        display: block;
        height: auto;
    }
    .map,
    .contacts-footer{
        width: 100%;
        text-align: center;
    }
    .main-navigation .header-wrapper,
    .last-item{
       display: block;
       text-align: center; 
       width: 100%
    }
    .first-item{
        margin-left: 0px;
    }
    .header-wrapper{
        width: 100%;
    }
    header{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .adress{
    width: 100%;
    text-align: center;
    }   
    .nav-item {
        margin: 0;
    }
    .menubutton{
        display: block;
        cursor: pointer;
        margin: 0 auto;
    }
    nav{
        display: none;
    }
    .timer h5{
        display: none;
    }
    .nav-item a{
        font-size: 14px;
    }
    .last-item li:nth-child(1),
    .last-item li:nth-child(2){
        margin: 0;
    }
    .timer h5{
        padding-left: 0px;
    }
    .time{
        width: 100px;
        height: 130px;
        margin-right: 40px;
    }
    .time::before,
    .time::after{
        display: none;
    }
    .under-time{
        padding-left: 0px;
    }
}

@media screen and (max-width: 708px) {
    .logo,
    .contacts{
        margin: 0 auto;
        text-align: center;
    }
    .contacts span{
        font-size: 30px;
    }
    .socials{
        width: 52%;
        margin: 0 auto;
    }
    .button-level2{
        top: 85%;
        left: 8%;
    }
    .test h4{
        font-size: 40px;
    }
    .form{
        padding: 0px;
    }
    .button-form{
        background-color: #edc22e;
    }
    .contact-footer p{
        font-size: 17px;
    }
    .contacts-footer{
        padding: 0px;
        border-left: none;
    }
    .timer-container{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .logo-footer img{
        width: 85%;
    }
    .adress > img{
        display: none;
    }
    .card{
        margin: 0;
    }
    .timer-container{
        margin-right: 0px;
    }
    .info div{
        font-size: 15px;
    }
    .header-wrapper{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 0 auto;
    }
}

@media screen and (max-width: 450px) {
    h3{
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 35px;
    }

    .card-next{
        height: 550px;
    }
    .choise-item{
        width: 260px;
        margin: 0 auto;
    }
    .progress-bar{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .logo img{
        width: 100%;
        height: auto;
    }
    .process-item p{
        font-size: 13px;
    }
    [type="radio"]:checked + label, [type="radio"]:not(:checked) + label{
        margin: 0 auto;
        margin-top: 14px;
        width: 300px;
    }
    .test-button-next{
        padding-top: 3.5%;
    }
    .test-question{
        padding-left: 0px;
    }
    .popup-test .popup-header button{
        right: 88%;
    }
}

.load-time{
    margin: 15px 50px 0 50px;
}

.load{
    border-top:5px solid #edc22e;
    border-radius: 3px;
}

.owl-next{
    display: none;
}
.owl-prev{
    display: none;
}

.test-description{
    margin: 0 auto;
    margin-top: 105px;
}