@font-face {
    font-family: "adineuePROKZ";
    src: url("fonts/adineuePROKZ-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "adineuePRO-kur-light";
    src: url("fonts/adineuePRO-kur-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "CenturyGothic-Bold";
    src: url("fonts/CenturyGothic-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "Helios-Cond";
    src: url("fonts/HeliosCondBlackC.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
body,
footer{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper-content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.logo{
    padding: 18px 0 18px 0;
    margin-left: 9%;
}

header{
    display: flex;
    height: 120px;
}

.contacts{
    margin-left: 120px;
    margin-right: 9%;
    text-align: right;
    padding: 18px 0;
    width: 350px;
}

.contacts span{
    font-family:"adineuePROKZ";
    font-size: 35px;
    color: #565656;
    font-weight: bold;
    line-height: 55px;
}

.socials{
    width: 380px;;
}

.socials img{
    margin-right: 10px;
}

.adress{
    background-color: #edc22e;
    width: 434px;
    padding-left: 90px;
    vertical-align: middle;
    font-family:"adineuePROKZ";
    font-size: 30px;
    color: #565656;
    padding-top: 26px;
}

.adress span{
    border-bottom: 3px solid #565656;
    cursor: pointer;
}

.bg-orange__grad{
    background: linear-gradient(to right, #edc22e, #ebebeb 75%);
}

.bg-orange{
    background-color: #edc22e;
}

.bg-white{
    background-color: #ebebeb;
}

.main-navigation{
    display: flex;
    list-style: none;
    width: 100%;
}

.nav-item{
    width: 100%;
    height: 46px;
    vertical-align: middle;
    padding-top: 13px
    
}

.nav-item a{
    text-decoration: none;
    color: #565656;
    font-family: 'CenturyGothic-Bold';

}

.main-banner{
    background-image: url(img/pedro-lastra-Nyvq2juw4_o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h1{
    padding-top: 180px;
    padding-bottom: 40px;
    font-size: 90px;
    text-transform: uppercase;
    color: #ffffff;
    font-family:"adineuePROKZ";
}

h1 span{
    color: #edc22e;
    
}

button{
    background-color: #edc22e;
    color: #ffffff;
    font-size: 20px;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    font-family:"adineuePROKZ";
    letter-spacing: 2px;
    padding-top: 0.5%;
}

.main-button{
    margin-bottom: 245px;
    width: 290px;
    height: 65px;
    text-transform: uppercase;
    box-shadow: 4px 1px 131px 0px rgba(0, 0, 0, .53);
}

.timer h4{
    font-family: "adineuePROKZ";
    font-size: 62px;
    color: #f6932e;
    line-height: 60px;
    margin-right: 85px;
    margin-top: 28px;
}

.timer h4 span{
    color: #edc22e;
    font-size: 45px;
}

.time{
    width: 140px;
    height: 168px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 63px;
}

.timer-container{
    display: flex;
    margin-right: -42px;
}

.days::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #edc22e;
    position: relative;
    left: 149px;
    top: 6px;
}

.days::after{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #edc22e;
    position: relative;
    left: 58px;
    bottom: 20px;
}

.hours::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #edc22e;
    position: relative;
    left: 154px;
    top: 6px;
}

.hours::after{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #edc22e;
    position: relative;
    left: 45px;
    bottom: 20px;
}

.minutes::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #edc22e;
    position: relative;
    left: 155px;
    top: 6px;
}

.minutes::after{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #edc22e;
    position: relative;
    left: 44px;
    bottom: 20px;
}

.time span{
    font-family: "adineuePROKZ";
    font-size: 80px;
    color: #ffffff;
}

.under-time{
    font-family: "adineuePROKZ";
    padding-left: 20%;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #6e6e6e;
}

section.timer > div > div:nth-child(4) > p{
    padding-left: 16px;
}

section.timer > div > div:nth-child(5) > p{
    padding-left: 10px;
}

.button-timer{
    width: 100%;
    max-width: 623px;
    height: 74px;
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
}

.timer h5{
    font-family: "adineuePROKZ";
    padding-left: 55%;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #6e6e6e;
    margin-top: 40px;
    margin-bottom: 30px;
}

.levels{
    border-top: 5px solid #e9bf2d;
    border-bottom: 5px solid #e9bf2d;
    width: 100%;
    background-image: url(img/bg-repeat.JPG);
    background-repeat: repeat;
}

.card{
    width: 100%;
    max-width: 360px;
    height: 846px;
    background-color: #ffffff;
    box-shadow: 7px 7px 29px 0px rgba(0, 0, 0, .18);
    border-radius: 7px;
    margin: 75px 0 85px 0;
    position: relative;
}

.jc-flex{
    justify-content: space-between;
}

.card-header{
    padding: 21px 95px 20px 30px;
    border-radius: 7px;
}

.card-header p{
    font-family:"adineuePROKZ";
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 45px;
}

.card-main{
    padding: 50px 60px 0 20px;
    font-family: "adineuePRO-kur-light";
    font-size: 20px;
    line-height: 30px;
}

.why{
    background: linear-gradient(to bottom, transparent, #ffffff 50%);
    height: 514px;
}

.why p{
    text-align: left;
    padding-left: 24px;
}

.why img{
    margin-bottom: 30px;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
    max-width: 379px;
}

.text{
    font-family: "adineuePRO-kur-light";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: #6e6e6e;
}

.button-level{
    position: absolute;
    top: 88%;
    left: 12%;
}

.button-level2{
    position: absolute;
    top: 78%;
    left: 25%;
}

.bg-girafe1{
    background-image: url(img/girafe1.png);
    background-repeat: no-repeat;
    background-position: 91% 73%;
}

.bg-girafe2{
    background-image: url(img/girafe2.png);
    background-repeat: no-repeat;
    background-position: 95% 77%;
}

.levels-2{
    display: flex;
    justify-content: space-around;
}

.card-next{
    width: 100%;
    max-width: 558px;
    height: 420px;;
}

.test{
    text-align: center;
    padding-top: 70px;
}

.test h4{
    color: #ffffff;
    font-size: 50px;
    font-family:"adineuePROKZ";
    line-height: 60px;
    letter-spacing: 3px;
}

.test p{
    color: #ffffff;
    font-size: 50px;
    font-family: "adineuePRO-kur-light";
    line-height: 60px;
    letter-spacing: 3px;
}

.test button{
    width: 100%;
    max-width: 410px;
    height: 84px;
    background-color: #ffffff;
    color: #636363;
    margin-top: 35px;
    margin-bottom: 45px;
    box-shadow: 3px 3px 8px 2px rgba(197, 132, 35, 61);
}

.video iframe{
    border-radius: 11px;
    width: 100%;
    max-width: 378px;
}

.teacher-item{
    width: 100%;
    max-width: 379px;
    text-align: center;
    margin-bottom: 40px;
}

.fwrap{
    flex-wrap: wrap;
}

.button-more{
    width: 265px;
    height: 58px;
    box-shadow: 1px 3px 11px -3px rgba(197, 132, 35, 39);
}

.teachers h3{
    color: #6e6e6e;
    margin-top: 85px;
    margin-bottom: 90px;
   }

h3{
    margin-top: 87px;
    margin-bottom: 93px;
    font-family: "Helios-Cond";
    font-size: 50px;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.teacher-name{
    font-family: "adineuePROKZ";
    font-size: 20px;
    line-height: 30px;
    color: #6e6e6e;
    margin-bottom: 15px;
    margin-top: 15px;
    letter-spacing: 1px;
}

.teachers > div > p{
    font-family: "adineuePRO-kur-light";
    font-size: 18px;
    color: #8c8c8c;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.why{
    box-shadow: 7px 7px 29px 0px rgba(0, 0, 0, .18);
}

.why-we,
.advantages{
    padding-top: 85px;
}

.why-we h3{
    color: #ffffff;
    margin-bottom: 90px;
}

.advantages h3{
    color: #ffffff;
    margin-bottom: 100px;
}

.advantages-item{
    width: 187px;
    margin-bottom: 75px;
}

.advantages-item span{
    font-family: "Helios-Cond";
    color: #ffffff;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.advantages-item span::before{
    content: '';
    display: block;
    width: 58px;
    height: 4px;
    background-color: #ffffff;
    margin-top: 24px;
    margin-bottom: 20px;
}

svg{
    width: 50%;
    height: 170px;
}

.str0 {
    stroke:#E8E8E8;
    stroke-width:150;
    stroke-miterlimit:22.9256
}

.fil0 {
    fill:none
}

.fil1 {
    fill:#E9E9E9;
    fill-rule:nonzero
}

svg:hover .str0{
    stroke: #edc22e;
}

svg:hover .fil1{
    fill: #edc22e;
}

.process-item{
    width: 100%;
    max-width: 379px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.process-item p{
    width: 50%;
    font-family: "adineuePRO-kur-light";
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #888888;
    text-transform: uppercase;
}

.process h3{
    margin-top: 70px;
    margin-bottom: 80px;
    color: #6e6e6e;
}

.choise-item{
    margin-bottom: 155px;
    height: 487px;
}

.choise-item span{
    font-family: "adineuePRO-kur-light";
    font-size: 20px;
    color: #6e6e6e;
    text-align: center;
    padding: 60px 50px 40px 50px;
    display: block;
    letter-spacing: 1px;
}

.make-choise{
    position: relative;
}

.choise-button{
    width: 100%;
    max-width: 208px;
    height: 46px;
    margin-left: 25px;
    margin-bottom: 58px;
    box-shadow: 1px 3px 11px -3px rgba(197, 132, 35);
}

.prev-slide{
    border: 60px solid transparent;	
    border-right: 35px solid #e7be2d;
    cursor: pointer;
    position: absolute;
    top: 35%;
    right: 95%;
}

.next-slide{
    border: 60px solid transparent;	
    border-left: 35px solid #e7be2d;
    cursor: pointer;
    position: absolute;
    left: 93%;
    top: 35%;
}

.feedback{
    margin-bottom: 90px;
}

.feedback-item{
    width: 100%;
    max-width: 850px;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    height: auto;
    min-height: 297px;
    margin: 0 auto;
    padding: 35px 60px 0 29px;
    display: flex;
}

.feedback h3{
    margin-top: 80px;
    margin-bottom: 70px;
    color: #6e6e6e;
}

.feedback-item img{
    border-radius: 50%;
    margin-right: 35px;
    width: 161px !important;
}

.feedback-name{
    font-family: "Helios-Cond";
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    color: #6e6e6e;
    letter-spacing: 1px;
    margin-bottom: 27px;
}

.text-feedback{
    font-family: "adineuePRO-kur-light";
    color: #6e6e6e;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

.make-choise h3{
    margin-top: 70px;
    margin-bottom: 80px;
    color: #6e6e6e;
}

.choise-item{
    width: 100%;
    max-width: 260px;
    box-shadow: 7px 7px 29px 0px rgba(0, 0, 0, .18);
}

.form{
    background-image: url(img/figure.png);
    height: auto;
    min-height: 337px;
    padding: 40px 100px 0 70px;
    margin-bottom: 82px;
}

.form h4{
    font-family: "Helios-Cond";
    color: #ffffff;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 1px;
    width: 174%;
}

.form input,
select{
    width: 100%; 
    max-width: 340px;
    height: 48px;
    border-radius: 40px;
    border: 0;
    margin-bottom: 10px;
    font-family: "adineuePRO-kur-light";
    font-size: 20px;
    letter-spacing: 1px;
    vertical-align: middle;
    padding-left: 30px;
}

.button-form{
    width: 100%;
    max-width: 340px;
    background-color: #f6932e;
    text-transform: uppercase;
    height: 47px;
    box-shadow: 0px 9px 1px -2px rgba(149, 94, 16, 1);
    margin-top: 10px;
    margin-bottom: 58px;
}

.name-input::placeholder{
    font-family: "adineuePRO-kur-light";
    font-size: 20px;
    letter-spacing: 1px;
    vertical-align: middle;
}

footer{
    display: flex;
    height: 625px;
}

.map,
.contacts-footer{
    width: 50%;
}

.contacts-footer{
    padding: 60px 0 210px 43px;
}

.contact-footer{
    border-left: 5px solid #ffffff;
}

.contact-footer h4{
    font-family: "Helios-Cond";
    color: #ffffff;
    text-transform: uppercase;
    font-size: 41px;
    letter-spacing: 1px;
    padding-left: 20px;
}

.contact-footer p{
    font-family: "adineuePRO-kur-light";
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 41px;
    padding-left: 20px;
}

.logo-footer{
    margin-bottom: 60px;
}

.logo-footer img{
    width: 100%;
    max-width: 374px;
    height: auto;
}

.popup-adress{
    position: fixed;
    display: block;
    text-align: center;
    top: 22%;
    left: 25%;
    width: 100%;
    max-width: 640px;
    height: auto;
    min-height: 484px;
    background-color: #ffffff;
    border-radius: 20px;
    display: none;
    z-index: 10;
}

.overlay_popup {
    display:none;
    position:fixed;
    z-index: 9;
    top:0;
    right:0; 
    left:0;
    bottom:0;
    background:#000; 
    opacity:0.5;
  }

.popup-header{
    display: flex;
    border-radius: 20px; 
}

@media screen and (max-width: 1300px){
    .next-slide,
    .prev-slide{
        display:none;
    }
    header{
        height: auto;
    }
    .logo{
        margin-left: 0;
    }
}

@media screen and (max-width: 1116px){
    .contacts{
        margin-left: 0px;
    }
}

@media screen and (max-width: 1025px) {
    .card-header p{
        font-size: 25px;
    }
    .text{
        font-size: 17px;
    }
    .adress{
    padding-left: 0px;
    }
   }

@media screen and (max-width: 940px) {
    .timer,
    .timer-container{
        flex-wrap: wrap;
    }
    .wrapper-content{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    footer{
        display: block;
        height: auto;
    }
    .map,
    .contacts-footer{
        width: 100%;
        text-align: center;
    }
    .main-navigation{
       display: block;
       text-align: center; 
    }
    header{
        flex-wrap: wrap;
    }
    .adress{
    width: 100%;
    text-align: center;
    }   
}

@media screen and (max-width: 708px) {
    .logo,
    .contacts{
        margin: 0 auto;
    }
    .contacts span{
        font-size: 30px;
    }
    .socials{
        width: 65%;
        margin: 0 auto;
    }
    .timer h5{
        padding-left: 0px;
    }
    .time{
        width: 100px;
        height: 130px;
        margin-right: 40px;
    }
    .time::before,
    .time::after{
        display: none;
    }
    .under-time{
        padding-left: 0px;
    }
    .button-level2{
        top: 85%;
        left: 8%;
    }
    .test h4{
        font-size: 40px;
    }
    .form{
        padding: 0px;
    }
    .button-form{
        background-color: #edc22e;
    }
    .contact-footer p{
        font-size: 17px;
    }
    .contacts-footer{
        padding: 0px;
    }
}

@media screen and (max-width: 450px) {
    h3{
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 35px;
    }

    .card-next{
        height: 550px;
    }
}



