html{
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, #091341, #1a4f9b);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup{
    width: 100%;
    max-width: 800px;
    min-height: 500px;
    border-radius: 3px;
    background-color: #ffffff;
    overflow: hidden;
    display: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-text{
    font-weight: 800;
    font-size: 221px;
    color: #f0f0f0;
    letter-spacing: -11px;
    margin: 0;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 50px;
    left: -26px;
    white-space: nowrap;
}

.forms{
    text-align: center;
    z-index: 2;
    position: relative;
    margin-top: -28px;
}

.button, input {
    width: 100%;
    max-width: 470px;
    height: 62px;
    padding: 0;
    border-width: 0;
    border-radius: 7px;
    }

input{
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -2px;
}

input[type="mail"] {
    margin-bottom: 18px;
}
    
    input[type="password"] {
    margin-bottom: 9px;
}

input::placeholder{
    font-weight: 600;
    color: #646464;
    font-size: 20px;
    padding-left: 22px;
}

.button {
    cursor: pointer;
    margin-top: 32px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    }

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #ffffff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}