@font-face {
    font-family: "adineuePRO-bold";
    src: url("../fonts/adineuePRO-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "adineuePRO-kur-light";
    src: url("../fonts/adineuePROCyr-LightWeb.woff") format("woff");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "pt-sans";
    src: url("../fonts/pt-sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "pt-sans-bold";
    src: url("../fonts/pt-sans-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "century-gothic";
    src: url("../fonts/century-gothic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "century-gothic";
    font-size: 15px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    color: #626262;
}

body{
    position: relative;
}

.content-wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.jc-center{
    justify-content: center;
}

.jc-between{
    justify-content: space-between;
}

.align-cent{
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #4e4e4e;
}

.header-top ul li{
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.aside-fixed{
    background-color: #fffaab;
    width: 45px;
    height: 256px;
    position: absolute;
    right: 0px;
    z-index: 10;
    top: 11%;
    cursor: pointer;
    box-shadow: 0px 2px 15px 10px rgba(50, 50, 50, 0.14);
}

.fixed-item{
    width: 300px;
    height: 80px;
    background-color: #ffffff;
    padding: 13px;
    position: relative;
    left: -300px;
    top: -24px;
    margin-bottom: 8px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 2px 150px 10px rgba(50, 50, 50, 0.14);
    transition: 1s;
}

/* .fixed-item:hover{
    left: -300px;
    transition: 1s;
} */

.fixed-item img{
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.aside-fixed p{
    font-family: "adineuePRO-bold";
    transform: rotate(90deg);
    font-size: 22px;
    color: #843f8a;
    padding-left: 55px;
}

.owl-theme .owl-dots{
    position: relative;
    bottom: 65px;
    
}

.owl-theme .owl-dots .owl-dot span{
    box-shadow: inset 0px 1px 1px 1px rgba(50, 50, 50, 0.75);
}

.first{
    width: 500px;
    justify-content: flex-end;
    background-color: #843f8a;
    height: 50px;
    padding-right: 15px;
    margin-right: 18px;
}

.border{
    border-bottom: 1px solid #999999;
    margin-bottom: 15px;
}

.menubutton{
    width: 75px;
    padding-top: 6px;
    background-color: #843f8a;
    cursor: pointer;
}

.menuitem{
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 6px;
    border-radius: 5px;
}

.button-header{
    width: 180px;
    height: 45px;
    border: 2px solid #843f8a;
    border-radius: 30px;
    background: #ffffff;
    color: #843f8a;
    font-weight: bold;
    cursor: pointer;
}

.factory{
    margin-top: 17px;
    margin-bottom: 17px;
}

.factory ul li{
    cursor: pointer;
    position: relative;
}

.letter:hover .info-container{
    display: block;
}

.info-container{
    display: none;
    position: absolute;
    width: 200px;
    border: 1px solid #d9d9d9;
    z-index: 5;
    background-color: #ffffff;
    top: 35px;
    left: -15px;
    padding: 15px 5px 15px 5px;
}

.info-container .flex{
    border-bottom: 1px solid #d0d0d0;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
}

.info-container .flex:nth-last-child(1){
    border-bottom: none;
    padding-bottom: 0px;
}

.info-container .flex img{
    height: 25px;
    max-width: 80px;
    margin-left: auto;
}

.proizv-button{
    width: 195px;
    height: 45px;
    font-size: 18px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #c4c4c4;
    color: #757575;
}

.phone{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #4e4e4e;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.enter{
    margin-left: auto;
    margin-top: 15px;
    list-style: none;
}

.search-wrapper{
    position: relative;
}

.search-submit{
    position: absolute;
    left: 85%;
    height: 25px;
    background-color: #84408a;
    width: 45px;
    border-radius: 0 5px 5px 0;
    border: 0;
}

.main-nav{
    background-position: 100px 0;
    background-size: 200px;
}

.start{
    width: 100%;
}

.first-menu-item{
    background-color: #84408a;
}

.first-menu-item a{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.main-text{
    font-size: 20px;
    color: #4e4e4e;
    text-align: center;
    width: 100%;
    max-width: 445px;
    margin: 10px 60px 0 80px;
}

.main-text > p:nth-child(2){
    font-weight: bold;
    margin-top: 15px;
}

.search{
    width: 100%;
    min-width: 305px;
    border: 1px solid #84408a;
    border-radius: 5px;
    height: 26px;
    padding-left: 5px;
}

.sale{
    background-color: #752a7e;
    height: 165px;
    margin-top: 65px;
    margin-bottom: 65px;
    box-shadow: 0px 2px 150px 10px rgba(50, 50, 50, 0.14);
    color: #ffffff;
    font-size: 74px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sale span{
    font-weight: bold;
}

input,
button{
    outline: 0;
}

button{
    cursor: pointer;
}

.about-item{
    width: 100%;
    max-width: 435px;
    margin-bottom: 50px;
    padding-right: 10px;
}

.about-item img{
    box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.27);
    margin-right: 20px;
}

.about-header{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.aside{
    width: 100%;
    max-width: 295px;
    border: 1px solid #d4d4d4;
    margin-left: 10px;
}

.aside a{
    font-family: "pt-sans";
    display: block;
    font-size: 18px;
    padding-left: 30px;
    line-height: 25px;
    color: #626262;
}

.header-about{
    display: block;
    font-size: 24px;
    color: #626262;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
}

p span{
    font-weight: bold;
}

.cart{
    height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.cart img{
    margin-right: 11px;
}

.cart p{
   font-size: 12px;
}

.cart p:nth-child(2){
    padding-right: 30px;
    border-right: 1px solid #4e4e4e;
}

.cart img:nth-child(3){
    margin-left: 20px;
}

.about-info{
    font-size: 20px;
    margin-bottom: 40px;
}

.sub-title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    color: #626262;
}

.borders{
    width: 100%;
    height: 50px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

.borders .flex{
    height: 50px;
}

.socials{
    width: 260px;
}

.socials p{
    font-family: "pt-sans-bold";
    font-size: 20px;
}

.about-text{
    line-height: 20px;
}

.toggle-button{
    width: 390px;
    height: 70px;
    text-align: center;
    color: #626262;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding-top: 20px;
    margin-top: 45px;
}

.gallery-container{
    width: 100%;
    height: 415px;
    text-align: center;
    margin-bottom: 70px;
}

.container-green{
    background: rgb(235,253,223);
    background: linear-gradient(180deg, rgba(235,253,223,1) 0%, rgba(255,255,255,1) 51%);
    border: 5px solid #52bb6a;
}

.container-yellow{
    background: rgb(255,255,190);
    background: linear-gradient(180deg, rgba(255,255,190,1) 0%, rgba(255,255,255,1) 51%);
    border: 5px solid #ffde00;
}

.container-red{
    background: rgb(255,204,199);
    background: linear-gradient(180deg, rgba(255,204,199,1) 0%, rgba(255,255,255,1) 51%);
    border: 5px solid #ef5647;
}

.show-all{
    width: 440px;
    height: 55px;
    margin: 0 auto;
    border: none;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    top: 35px;
    font-weight: bold;
}

.show-all_green{
    background-color: #52bb6a;
}

.show-all_yellow{
    background-color: #ffde00;
}

.show-all_red{
    background-color: #ef5647;
}

.gallery-item{
    margin-top: 40px;
}

.gallery-item p{
    font-family: "pt-sans";
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.green{
    background-color: #ecfde0;
}

.yellow{
    background-color: #ffffba;
}

.red{
    background-color: #ffcac5;
}

.green-button{
    background-color: #ebfddf;
    border: 5px solid #52bb6a;
    border-bottom: none;
}

.yellow-button{
    background-color: #ffffba;
}

.red-button{
    background-color: #ffcac5;
}

.tabs_content{
    display: none; 
}

.tabs_content.active {
    display: block;
}

.seasons{
    width: 900px;
    margin-left: auto;
}

.seasons-content{
    display: none;
    padding-top: 50px; 
}

.seasons-content.active {
    display: flex;
}

.seasons-button{
    width: 290px;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    color: #626262;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
}

.seasons-block{
    position: relative;
}

.square{
    width: 118px;
    height: 118px;
    background-color: #ffffff;
    color: #7f45e7;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 26px;
    left: 160px;
    line-height: 20px;
    letter-spacing: 1px;
}

.season-item{
    width: 440px;
    height: 170px;
    margin-bottom: 25px;
}

.purple{
    background-color: #f5ecfe;
}

.pink{
    background-color: #f9d5e1;
}

.blue{
    background-color: #d3f6f8;
}

.sale{
    width: 1220px;
    height: 162px;
    padding-top: 40px;
    text-align: right;
    padding-right: 75px;
    background-color: #752a7e;
    margin-left: auto;
}

.main-content{
    margin-left: -300px;
}

.about-company{
    width: 900px;
    margin-left: auto;
}

.logo{
    margin-right: 25px;
}

.logo-footer{
    position: relative;
    top: -12px;
}

footer{
    padding-bottom: 120px;
}

.footer-item{
    margin-top: 75px;
}


.footer-content > div:nth-child(1){
    border-right: 2px solid #b8b8b8;
    width: 100%;
    max-width: 550px;
    padding-right: 120px;
}

.footer-content > div:nth-child(2){
    margin-left: 50px; 
    padding-right: 57px; 
    border-right: 2px solid #b8b8b8;
}

.footer-content > div:nth-child(2){
    margin-right: 60px;
}

.footer-item p{
    font-family: "pt-sans-bold";
    font-size: 25px;
    margin-bottom: 25px;
}

.footer-item a,
.footer-item span{
    font-family: "pt-sans-bold";
    display: block;
    line-height: 30px;
    font-size: 18px;
    color: #898989;
    letter-spacing: 1px;
}



