html{
    width: 100%;
    height: 100%;
    min-width: 1080px;
}
body{
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-style: normal;
    font-family: 'Conv_MyriadPro-Regular', Arial, sans-serif;
    background: #cbd0d3 url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/bg.jpg)  center 0 repeat;
    background-attachment: fixed;
    min-width: 1080px;
    font-size: 20px;
}
#main{
    width: 100%;
    position: relative;
    min-height: 100%;
    padding: 0 0 0 0;
    margin: 0 auto;
}

/* start */

#main > header > div > div > div.description-wrap.g-left > div.search-wrap.g-right > div{
    display: none;
}

#main > header .logo-wrap .logo{
    background: url(img/logo20.png) !important;
    background-repeat: no-repeat;
    width: 841px !important;
    height: 86px !important;
    }

#main > header .logo-wrap{
    height: auto !important;
    }

#main > header .description-wrap .phones{
    font-size: 38px !important;
    color: #ffffff;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    line-height: 50px !important;
    width: 1000px !important;
    text-align: left;
}

#main > header .logo-wrap{
    width: 300px !important;
}

.button2{
    display: block;
    font-weight: bold;
    padding-top: 12px;
    width: 170px;
    height: 45px;
    background: transparent url(img/button-login.png) 0 0 no-repeat;
    background-size: cover;
    color: #331600;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-family: 'Conv_MyriadPro-Bold';
    margin-left: 68px;
    }

#main > header .cart-wrap .loginDescription{
    font-size: 13px !important;
    display: block;
    width: 100%;
    letter-spacing: 1px !important;
    margin: -10px 0 0 45px !important;
}

#main > header .cart-wrap .cart-inhead{
    height: 25px !important;
    line-height: 25px !important;
}

#main > header .cart-wrap .cart-inhead{
    width: 143px !important;
    margin: -20px 0 0 68px !important;
    background-size: contain !important;
}

#main > header .cart-wrap .cart-inhead .cart_icon{
    width: 27px !important;
    height: 27px !important;
    background-size: cover !important;
    top: 2px !important;
    right: 31px !important;
}

#menu_top{
    display: flex !important;
    vertical-align: middle;
}

.popup_search{
    width: 302px;
    height: 97px;
    background-image: url(img/popup.png);
    position: absolute;
    z-index: 20;
    top: 94%;
    left: -285px;
    padding: 35px 13px 20px 17px;
    display: none;
}

#main > header nav ul li a{
    background: transparent !important;
}

.item0,
.item1,
.item2,
.item3,
.item4,
.item5{
    background: url(img/button-login.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 164px !important;
    margin-right: 10px;
    height: 53px !important;
    
}

#main > header nav{
    height: 90px !important;
    background-size: cover !important;
    padding-top: 7px !important;
}

#main > header nav ul li a span.link{
    letter-spacing: -1px !important;
    font-weight: bold !important;
    line-height: 49px !important;
    font-size: 18px !important;
}

#main > header nav ul li a{
    width: 165px !important;
}

 .header-search{
    width: 200px;
    height: 28px;
    border-radius: 4px;
    -webkit-box-shadow: inset 3px 2px 5px 1px #a1a1a1;
            box-shadow: inset 3px 2px 5px 1px #a1a1a1;
    padding-left: 10px;
    padding-top: 2px;
}

.header-search__short{
    width: 143px;
    margin-right: 16px;
}

body > div > div > input:nth-child(2){
    margin-right: 0px;
}

.header-search__long::-webkit-input-placeholder{
    font-size: 15px;
    color: #bbbbbb;
}

.header-search__long::-moz-placeholder{
    font-size: 15px;
    color: #bbbbbb;
}

.header-search__long:-ms-input-placeholder{
    font-size: 15px;
    color: #bbbbbb;
}

.header-search__long::-ms-input-placeholder{
    font-size: 15px;
    color: #bbbbbb;
}

.header-search__long::placeholder{
    font-size: 15px;
    color: #bbbbbb;
}

.form-bottom{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-search__short::-webkit-input-placeholder{
    font-size: 15px;
    color: #32302d;
}

.header-search__short::-moz-placeholder{
    font-size: 15px;
    color: #32302d;
}

.header-search__short:-ms-input-placeholder{
    font-size: 15px;
    color: #32302d;
}

.header-search__short::-ms-input-placeholder{
    font-size: 15px;
    color: #32302d;
}

.header-search__short::placeholder{
    font-size: 15px;
    color: #32302d;
}

.search__submit{
    background-image: url(img/button-login.png);
    width: 108px;
    height: 30px;
}

.search_wrap{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.search__button{
    display: block;
    background-image: url(img/button-login.png);
    width: 106px;
    height: 30px;
    background-size: cover;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #32302d;
    padding-top: 6px;
    position: relative;
    right: 4px;
    border-radius: 8px;
    padding-bottom: 5px;
} 

.search_hd{
    width: 0px;
    height: 0px;
    border: 0;
    background: transparent;
}

.search_hd1{
    border: 0;
}


/* end */


.clearWork-area{
    height: 96px;
}
body > footer{
    position: relative;
    width: 100%;
    padding: 0;
    margin: -99px auto 0 auto;
    height: 99px;
    clear: both;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/footer-bg.png) center top repeat-x;


}
.in_body{
    width: 1080px;
    padding: 0 0px;
    margin: 0 auto;
}



b, strong{
    font-weight: bold;
}
i{
    font-style: italic;
}
a{
    outline: none;
}


.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.g-left{
    display: block;
    float: left;
}
.g-right{
    display: block;
    float: right;
}
.g-clr{
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
.g-center{
    margin-left: auto;
    margin-right: auto;
}
.g-hide{
    display: none;
}

#main > header{
}
#main > header .header-in{
    background: #204e8f url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/bgh.jpg) center top repeat-x;
    height: 188px;

}
#main > header .logo-wrap{
    width: 302px;
    height: 166px;
    padding: 13px 0 0 0px;
}
#main > header .logo-wrap .logo{
    display: block;
    width: 900px;
    height: 166px;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/all.png) -29px -24px no-repeat;
    overflow: hidden;


}
#main > header .description-wrap{
    width: 588px;
    padding: 13px 0 0 0px;
    margin: 0 0 0 -62px;
    color: #d1d3d4;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #ffffff,0px 1px 2px #000000;
    text-align: right;
    font-family: 'Conv_MyriadPro-Bold';
}
#main > header .description-wrap .description{
    width: 598px;
    height: 38px;
}
#main > header .description-wrap .phones{
    margin-top: 5px;
    font-size: 30px;
    font-family: 'Conv_MyriadPro-Regular';
    font-weight: normal;
    line-height: 1em;
    letter-spacing: 0.15em;
}
#main > header .cart-wrap{
    width: 221px;
    padding: 15px 0 0 27px;


}
.button1{
    display: block;
    width: 222px;
    height: 74px;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/button-login.png) 0 0 no-repeat;
    color: #331600;
    text-decoration: none;
    font-size: 25px;
    line-height: 62px;
    text-align: center;
    font-family: 'Conv_MyriadPro-Bold';
    text-transform: uppercase;
}
#main > header .cart-wrap .loginDescription{
    color: #d1d3d4;
    text-shadow: 0px 1px 1px #ffffff,0px 1px 2px #000000;
    font-family: 'Conv_MyriadPro-Bold';
    font-size: 17px;
    text-align: center;
    margin: -10px 0 0 0;
    height: 1em;
}
#main > header .search-wrap{

}
#main > header .search-wrap .search{
    margin: 15px 0 0 0;
    position: relative;
}
#main > header .search-wrap .search input[type="text"]{
    display: block;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/search.png) 0 0 no-repeat;
    width: 214px;
    height: 17px;
    border: none;
    outline: none;
    font-size: 17px;
    line-height: 17px;
    font-family: 'Conv_MyriadPro-Bold';
    color: #000000;
    padding: 14px  45px 9px  13px;
}
.product_popup .prop .prop_val,
#reg_form section.inputs input[type="password"],
#reg_form section.inputs input[type="text"],
#login_form section input[type="password"],
#login_form section input[type="text"],
#main > header .cart-wrap .cart-inhead{
    display: block;
    position: relative;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/cart.png) 0 0 no-repeat;
    height: 17px;
    width: 163px;
    padding: 14px  45px 9px  13px;
    margin: 30px 0 0 0;
    border: none;
    outline: none;
    font-size: 17px;
    line-height: 17px;
    font-family: 'Conv_MyriadPro-Bold';
    color: #262523;
    text-decoration: none;
}
#main > header .cart-wrap .cart-inhead{
    overflow: hidden;
    padding: 3px  45px 0px  13px;
    line-height: 37px;
    height: 37px;
    font-size: 13px;
}
#main > header .cart-wrap .cart-inhead .cart_icon{
    display: block;
    position: absolute;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/cart-b.png) 0 0 no-repeat;
    width: 43px;
    height: 45px;
    top: -2px;
    right: 0;
}
#main > header .search-wrap .search input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color: #262523;
}
#main > header .search-wrap .search input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #262523;
}
#main > header .search-wrap .search input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #262523;
}
#main > header .search-wrap .search input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #262523;
}
#main > header .search-wrap .search input[type="image"]{
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
}
#main > header nav{
    position: relative;
    margin: -10px 0 0 0;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/menu-top.png) center top repeat-x;
    height: 110px;
    z-index: 20;
}
#main > header nav.sub{
    top: -20px;
    margin: -0px 0 0 0;
    background: none;
    z-index: 10;
    height: 1px;
}
#main > header nav.sub.brends{
    top: 0;
}
#main > header nav.sub .in_body{
    position: relative;
}
#main > header nav ul{
    display: block;
    padding: 20px 0 0 0;
}
#main > header nav.sub ul{
    position: absolute;
    padding: 0;
    top: 0px;

}
#main > header nav ul li{
    display: block;
    position: relative;
    float: left;
    width: 213px;
    height: 75px;

    text-align: center;

}
#main > header nav.sub ul li{


}
#main > header nav ul li.item1{
    width: 215px;
}
#main > header nav ul li.item1 a{
    background-position: -215px 0;
    width: 215px;
    height: 75px;
}
#main > header nav ul li.item2{

    width: 215px;
}
#main > header nav ul li.item2 a{
    background-position: -430px 0;
    width: 215px;
}
#main > header nav.sub ul li.item2 a{
    background-position: -430px 0;
    width: 212px;
}
#main > header nav ul li.item3{

    width: 215px;
}
#main > header nav ul li.item3 a{
    background-position: -645px 0;
    width: 215px;
}
#main > header nav ul li.item4{
    width: 222px;
}
#main > header nav ul li.item4 a{
    background-position: -860px 0;
    width: 222px;
}
#main > header nav ul li a{
    display: block;
    position: relative;
    z-index: 4;
    text-decoration: none;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/menu-b.png) -2px 0 no-repeat;
    width: 213px;
    height: 75px;
}
#main > header nav.sub ul li.long-button{
    width: 429px;
}
#main > header nav.sub ul li.long-button.item1 > a,
#main > header nav.sub ul li.long-button > a{
    width: 429px;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/long-button.png) -8px 0 no-repeat;

}
#main > header nav.sub ul li a{
    z-index: 3;
}
#main > header nav.sub ul li a{
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/menu-b-sub.png) -2px 0 no-repeat;
}
#main > header nav.sub ul li.item1 > a{
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/menu-b-sub.png) -215px 0 no-repeat;
}
#main > header nav ul li a span.link{
    display: block;
    text-decoration: none;
    color: #331700;
    font-family: 'Conv_MyriadPro-Bold';
    font-size: 20px;
    text-transform: uppercase;
    line-height: 62px;

}
#main > header nav ul li.active a span.link,
#main > header nav ul li a:hover span.link{
    color: transparent;
    text-shadow: 0px 0px 1px rgba(255,255,255,1),0px 0px 3px rgba(0,0,0,1);
    -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
#main > header nav ul li.g-clr{
    width: 0;
    height: 0;
    background: none;
    font-size: 0;
    line-height: 0;
}
#main > header nav ul li .ins-wrap{
    display: none;
    position: absolute;
    top: 75px;
    z-index: 3;
    width: auto;
}
#main > header nav.sub ul li .ins-wrap{
    display: none;
    z-index: 1;
    width: auto;
}
#main > header nav ul li:hover .ins-wrap{
    display: block;
}
#main > header nav ul li ul.ins{
    position: absolute;
    top:  -20px;
    left: 0;
    margin: 0 0 0 0;
    padding: 0px 50px 0px 27px;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/menu-i-bg-b.png) -1px -45px repeat-y;

    width: 184px;}

#main > header nav.sub ul li ul.ins{

    background-position: -52px -45px;
    width: 133px;
}
#main > header nav.sub ul li.long-button ul.ins{
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/long-sub-bg.png) 0 0 repeat-y;
    width: 346px;
}
#main > header nav ul li ul.ins{
    -webkit-box-shadow: 1px 2px 3px 0px #181819;
    -moz-box-shadow: 1px 2px 3px 0px #181819;
    box-shadow: 1px 2px 3px 0px #181819;
    /*filter: progid:DXImageTransform.Microsoft.Shadow(color='#181819', Direction=90, Strength=2);*/
}
#main > header nav ul li ul.ins li{
    display: block;
    background: none;
    height: auto;
    text-align: left;
    float: none;
    padding: 4px 0;
    width: auto;
    position: relative;
    padding-bottom: 16px;

}
#main > header nav ul li ul.ins li.first{
    padding-top: 15px;
}
#main > header nav ul li ul.ins li.last{
    padding-bottom: 15px;
}
#main > header nav ul li ul.ins li.active{
    padding-top: 15px;
    padding-bottom: 25px;
}
#main > header nav ul li ul.ins li.active.first{
    padding-top: 20px;
}
#main > header nav ul li ul.ins li.last.active{
    padding-bottom: 15px;
}

#main > header nav ul li ul.ins li a{
    position: relative;
    font-size: 20px;
    line-height: 1em;
    text-transform: uppercase;
    color: #cdcfd0;
    letter-spacing: 0.05em;
    background: none;
    font-family: 'Conv_MyriadPro-Bold';
    width: auto;
    height: auto;

}
#main > header nav ul li ul.ins li a  > span{
    text-transform: none;
}
#main > header nav ul li ul.ins li .split.down{
    position: absolute;
    width: 210px;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/split-sub.png) 2px bottom no-repeat;
    bottom: 5px;
    left: -6px;
    height: 7px;
}
#main > header nav ul li ul.ins li.last .split.down{
    display: none;
}
#main > header nav ul li ul.ins li.active .split.down{
    position: absolute;
    left: -27px;
    bottom: 0;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/split.png) 0 bottom no-repeat;
    width: 262px;
    height: 20px;
}
#main > header nav.sub ul li ul.ins li{
    padding-bottom: 16px;
}
#main > header nav.sub ul li ul.ins li .split.down{
    position: absolute;
    width: 210px;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/split-sub.png) 2px bottom no-repeat;
    bottom: 5px;
    left: -27px;
    height: 7px;
}
#main > header nav.sub ul li.long-button ul.ins li .split.down{
    width: 415px;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/split-sub-long.png) 2px bottom no-repeat;
}
#main > header nav.sub ul li ul.ins li.last .split.down{
    display: none;
}
#main > header nav.sub ul li ul.ins li.active .split.down{
    width: 210px;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/split-sub.png) 2px bottom no-repeat;
    bottom: 5px;
}
#main > header nav.sub ul li.long-button ul.ins li.active .split.down{
    width: 415px;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/split-sub-long.png) 2px bottom no-repeat;
    bottom: 5px;
}
#main > header nav.sub ul li ul.ins li.active.first .split.down{
    bottom: 11px;

}
#main > header nav ul li ul.ins li.last.active .split.down{
    background: none;

}
#main > header nav ul li ul.ins li.active .split.up{
    position: absolute;
    top: 0;
    left:-27px;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/menu-i-bg.png) -1px 0 no-repeat;
    width: 274px;
    height: 50px;
}
#main > header nav.sub ul li ul.ins li.active .split.up{
    width: 222px;
    background-position: -52px 0;
}
#main > header nav.sub ul li.long-button ul.ins li.active .split.up{
    width: 436px;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/long-sub-bg-active.png) 0 0 no-repeat;
}
#main > header nav ul li .ins-wrap .mshadow{
    width: 262px;
    left: 0;
    bottom: -14px;
    position: absolute;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/mshadow.png) 0 bottom no-repeat;
    height: 14px;
    padding: 0;
    margin: 0;

}
#main > header nav.sub ul li .ins-wrap .mshadow{
    background-position: -35px bottom;
    width: 211px;
}
#main > header nav.sub ul li.long-button .ins-wrap .mshadow{
    background-position: 69px bottom;
    width: 424px;
}
#content .content-bar{
    width: 837px;
}
#content .in_body.in_body_table{
    margin-top: -14px;
    display: table;
    -moz-box-sizing: border-box;      /* Ñ„Ð¸ÐºÑ Ð¿Ñ€Ð¾Ð±Ð»ÐµÐ¼Ñ‹ Ð´Ð»Ñ Firefox       */
    -webkit-box-sizing: border-box;   /* Ñ„Ð¸ÐºÑ Ð´Ð»Ñ ÑÑ‚Ð°Ñ€Ñ‹Ñ… Chrome Ð¸ Safari */
    box-sizing: border-box;           /* Ð½Ðµ Ð¿Ð¾Ð´Ð´ÐµÑ€Ð¶Ð¸Ð²Ð°ÐµÑ‚ÑÑ Ð² CSS2        */
    min-height: 600px;
}
#content .content-bar.content-bar-catalog{
    padding: 94px 0 0 0;
       display: table-cell;
    vertical-align: top;
    -moz-box-sizing: border-box;      /* Ñ„Ð¸ÐºÑ Ð¿Ñ€Ð¾Ð±Ð»ÐµÐ¼Ñ‹ Ð´Ð»Ñ Firefox       */
    -webkit-box-sizing: border-box;   /* Ñ„Ð¸ÐºÑ Ð´Ð»Ñ ÑÑ‚Ð°Ñ€Ñ‹Ñ… Chrome Ð¸ Safari */
    box-sizing: border-box;
}
#content .sidebar{
    width: 234px;
}
#content .sidebar.sidebar-catalog-brands.brands-bg{
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/brands-bg-new.png) 0 0 repeat-y;
}
#content .sidebar.sidebar-catalog-brands{
    display: table-cell;
    height: 100%;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    -moz-box-sizing: border-box;      /* Ñ„Ð¸ÐºÑ Ð¿Ñ€Ð¾Ð±Ð»ÐµÐ¼Ñ‹ Ð´Ð»Ñ Firefox       */
    -webkit-box-sizing: border-box;   /* Ñ„Ð¸ÐºÑ Ð´Ð»Ñ ÑÑ‚Ð°Ñ€Ñ‹Ñ… Chrome Ð¸ Safari */
    box-sizing: border-box;           /* Ð½Ðµ Ð¿Ð¾Ð´Ð´ÐµÑ€Ð¶Ð¸Ð²Ð°ÐµÑ‚ÑÑ Ð² CSS2        */
}
#content .step{
     display: table-cell;
     width: 8px;
}
#content .in_body_table_tr{
    display: table-row;
}
#content .sidebar.sidebar-main{
    width: 221px;
}
#main .other-items-wrap,
#main .about-main-wrap{
    width: 100%;
    background: #204e8f url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/bgj.jpg) center top repeat-x;
    color: #d5d7d8;
    font-size: 20px;
    font-family: 'Conv_MyriadPro-Regular';
    line-height: 1.1em;
    text-shadow:  1px 1px 2px  #181819;
    filter: Shadow(Color=#181819, Direction=45, Strength=2);
    letter-spacing: 1px;
}
#main .other-items-wrap{
    background: #204e8f url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/bgj2.jpg) center top repeat-x;
}
#main .about-main-wrap .in_body{
    height: 423px;
    position: relative;
}
#main .about-main-wrap p{
    margin: 1em 30px 1em 30px;
    text-align: justify;
    font-size: 20px;
}
#main .about-header-main-wrap{
    width: 100%;
    background: transparent url(http://jeanscom.ru/bitrix/templates/sdk_2014/images/title-line.png) center -4px repeat-x;
}
#main .about-header-main-wrap .in_body{
    height: 80px;
}
#main .about-header-main-wrap .about-header-main{
    line-height: 73px;
    font-size: 25px;
    color: #d1d3d4;
    font-family: 'Conv_MyriadPro-Bold';
    text-transform: uppercase;
    letter-spacing: normal;
    text-shadow: none;
    filter: Shadow();
    margin: 0 0 0 26px;
}
.main-news,
.main-actions{
    position: relative;
    padding: 46px 0 0 0;
}
.main-news .header,
.main-actions .header{
    position: absolute;
    top: 0px;
    left: 0;
}
.main-news .item,
.main-actions .item{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.3em;
    letter-spacing: 1px;
    text-align: justify;
    padding: 10px 0 0 0;
}
.main-news .item .more,
.main-actions .item .more{
    display: block;
    text-align: right;
    font-family: 'Conv_MyriadPro-It';
    text-shadow:  1px 1px 4px  #181819;
    filter: Shadow(Color=#181819, Direction=45, Strength=4);
}
.main-news .item .text,
.main-actions .item .text{
    display: block;
    text-shadow:  1px 1px 4px  #181819;
    filter: Shadow(Color=#181819, Direction=45, Strength=4);
}
.main-news .item img,
.main-actions .item img{
    display: block;
}
.main-news .item a,
.main-actions .item a{
    display: block;
    width: 220px;
    height: 160px;

}
.main-news .item .shadow,
.main-actions .item .shadow{
    display: block;
    background: transparent url(../images/shadow-s.png) center top no-repeat;
    height: 14px;
}
.main-news .header{
    text-shadow: none;
    filter: Shadow();
}
#main .about-main-wrap .socials{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 234px;
    height: 82px;
}
#main .phones .socials{
   position: relative;
   left: 62px;
   float: left;
}
#main  .socials a{
    display: block;
    width: 34px;
    height: 40px;
    margin: 0 16px 0 0;
    float: left;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
#main .socials a.vk {
    background-image: url(../images/vk.png);
}
#main .socials a.od{
    background-image: url(../images/ok.png);
}
#main .socials a.fb{
    background-image: url(../images/fb.png);
    margin: 0;
}
#main .socials a.in{
    background-image: url(/bitrix/templates/sdk_2014/css/../images/in.png);
    margin-left: 15px;
}
#main .socials a.tw{
    background-image: url(/bitrix/templates/sdk_2014/css/../images/tw.png);
    margin: 0;
}
#login_form{
    width: 631px;
    /*height: 517px;*/
    background: transparent url(../images/bgj.jpg) 0 0 repeat;
}
#login_form header.auth{
    background: transparent url('../images/menu-top.png') center top repeat-x;
    height: 110px;
    margin: -2px 0 0 0;
}
#login_form .button1{
    margin: 19px 14px 0 10px;
}
#login_form header.auth .g-right{
    width: 385px;
    color: #d5d7d8;
    padding: 13px 0 0 0;
    font-size: 17px;
}
#login_form header.auth .g-right p{
    line-height: 1em;
    margin: 0.5em 0;
}
#login_form section.inputs{
    padding: 20px 0 0 0;
}
#login_form section.inputs .g-left{
    display: block;
    width: 230px;
    text-align: right;
}
#login_form section.inputs .g-right{
    width: 394px;
}
#login_form section.inputs .button1{
    font-size: 20px;
    line-height: 68px;
    margin-left: 0;
    margin-top: 4px;

}
#login_form section.inputs input[type="password"],
#login_form section.inputs input[type="text"]{
    margin-top: 4px;
    margin-bottom: 4px;
}
#login_form .input-line{
    height: 48px;
}
#login_form .input-line label{
    line-height: 48px;
    color: #d5d7d8;
    font-size: 17px;
    font-family: 'Conv_MyriadPro-Bold';
    text-shadow:  1px 1px 4px  #181819;
    filter: Shadow(Color=#181819, Direction=45, Strength=4);
}
#login_form section.inputs input[type="checkbox"]{
    display: none;
}
#login_form section.inputs .checkbox-wrap{
    margin: 12px 0;
}
#login_form section.inputs .checkbox-wrap .checkbox-element{
    display: block;
    background: transparent url(../images/checkbox.png) 0 0 no-repeat;
    width: 25px;
    height: 24px;
}
#login_form section.inputs .checkbox-wrap .checkbox-element.checked{
    background-position: 0 -24px;
}
#login_form header.register{
    background: transparent url('../images/title-line.png') center 0px repeat-x;
    margin: 8px 0 0 0;
    height: 80px;
    line-height: 76px;
    font-size: 25px;
    color: #d1d3d4;
    font-family: 'Conv_MyriadPro-Bold';
    text-transform: uppercase;
    padding: 0 0 0 26px;
}
#login_form section.reg-text{
    padding: 10px 0 17px 0;

}
#login_form section.reg-text p{
    margin: 0 0 0 26px;
    color: #d5d7d8;
    font-size: 17px;
    line-height: 1.5em;
    text-shadow:  1px 1px 4px  #181819;
    filter: Shadow(Color=#181819, Direction=45, Strength=4);
}
#login_form section.reg-text a{
    color: #fecc06;
}
#reg_form{
    width: 631px;
    /*height: 1075px;*/
    background: transparent url(../images/bgj.jpg) 0 0 repeat;
}
#reg_form header.reg{
    background: transparent url('../images/menu-top.png') center top repeat-x;
    height: 110px;
    margin: -2px 0 0 0;
}
#reg_form .button1{
    margin: 19px 14px 0 10px;
}
#reg_form header.reg .g-right{
    width: 385px;
    color: #d5d7d8;
    padding: 20px 0 0 0;
    font-size: 17px;
}
#reg_form header.reg .g-right p{
    line-height: 1em;
    margin: 0.5em 0;
}
#reg_form section.inputs{
    padding: 20px 0 0 0;
}
#reg_form section.inputs .g-left{
    display: block;
    width: 230px;
    text-align: right;
}
#reg_form section.inputs .g-right{
    width: 394px;
}
#reg_form section.inputs .button1{
    font-size: 20px;
    line-height: 68px;
    margin-left: 0;
    margin-top: 4px;

}
#reg_form section.inputs input[type="password"],
#reg_form section.inputs input[type="text"]{
    margin-top: 4px;
    margin-bottom: 4px;
}
#reg_form .input-line{
    height: 48px;
}
#reg_form .input-line label{
    display: block;
    line-height: 48px;
    color: #d5d7d8;
    font-size: 17px;
    font-family: 'Conv_MyriadPro-Bold';
    text-shadow:  1px 1px 4px  #181819;
    filter: Shadow(Color=#181819, Direction=45, Strength=4);
}
#reg_form .input-line .g-right label{
    display: inline;
    line-height: 17px;
}
#reg_form .input-line label.fmini{
    letter-spacing: -1px;
}
#reg_form header.captcha-header{
    background: transparent url('../images/title-line.png') center 0px repeat-x;
    margin: 16px 0 0 0;
    height: 80px;
    line-height: 76px;
    font-size: 25px;
    color: #d1d3d4;
    font-family: 'Conv_MyriadPro-Bold';
    text-transform: uppercase;
    padding: 0 0 0 26px;
}
#reg_form section.inputs .button1{
    font-size: 20px;
    line-height: 68px;
    margin-left: 0;
    margin-top: 16px;
}
#reg_form .input-line.whith-button{
    height: 90px;
}
#reg_form .input-line .info-text{

}
.sidebar .brands-slider-wrap{
    position: relative;

    width: 234px;
    height: 100%;


    /*margin: -11px 0 0 0;*/

}
.sidebar .brand-slider-subwrap{
    overflow: hidden;
    position: absolute;
    top: 75px;
    bottom: 75px;
    left: 0;
    width: 234px;
}
.sidebar ul.brands-slider{
    display: block;
    position: relative;
    top: 0;
    padding: 5px 0 0px 13px;


}
.sidebar ul.brands-slider li{
    display: block;
    position: relative;
}
.sidebar ul.brands-slider li .split.down{
    display: block;
    background: transparent url(../images/split-sub.png) center bottom no-repeat;

    height: 10px;
}
.sidebar ul.brands-slider li.last .split.down{
    background: none;
}
.sidebar ul.brands-slider li a{
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1em;
    text-transform: uppercase;
    color: #cdcfd0;
    letter-spacing: 0.05em;
    background: none;
    font-family: 'Conv_MyriadPro-Bold';
    text-decoration: none;
    padding: 0 0 2px 22px
}
.sidebar ul.brands-slider li.active a{
    font-size: 30px;
    padding: 4px 0 4px 22px
}
.sidebar ul.brands-slider li.active .split.up{
    width: 20px;
    height: 50px;
    top: -6px;
    left: -13px;

    position: absolute;
    background: transparent url(../images/brands-bg-active.png) 0 0 no-repeat;
}
.sidebar  .toup{
    display: block;
    position: absolute;
    top: 10px;
    left: 95px;

    width: 58px;
    height: 58px;
    background: transparent url(../images/nav-buttons.png) -81px -180px no-repeat;
}
.sidebar  .todown{
    display: block;
    position: absolute;
    bottom: 5px;
    left: 95px;
    width: 58px;
    height: 58px;
    background: transparent url(../images/nav-buttons.png) -81px -243px no-repeat;
}

.sidebar  .toup:hover{
    background-position: 0px -180px
}
.sidebar  .todown:hover{
    background: transparent url(../images/nav-buttons.png) 0px -243px no-repeat;
}
.catalogItems .item{
    display: block;
    position: relative;
    width: 252px;
    height: 505px;
    margin: 0  0 0 27px;
    text-decoration: none;
}
.catalogItems .item .img{
    display: block;
    position: relative;
    overflow: hidden;
    width: 252px;
    height: 379px;

}
.catalogItems .item .img img{
    display: block;
    position: absolute;
    width: 250px;
/*    height: 375px;*/
    top: 1px;
    left: 0px;
    border: 1px solid #b8b9ba;
}
.catalogItems .item .img .shadow{
    display: block;
    position: absolute;
    width: 250px;
    height: 375px;
    top: 2px;
    left: 1px;
    background-color: transparent;
    box-shadow: inset 0px 1px 4px 1px rgba(0,0,0, 0.5);
    -webkit-box-shadow:  inset 0px 1px 4px 1px rgba(0,0,0, 0.5);
    -moz-box-shadow:  inset 0px 1px 4px 1px rgba(0,0,0, 0.5);

}
.catalogItems .item .articule{
    display: block;
    position: absolute;
    width: 237px;
    height: 79px;
    font-size: 25px;
    line-height: 1em;
    font-family: 'Conv_MyriadPro-Bold';
    color: #cdcfd0;
    background: transparent url(../images/articule-bg.png) -2px 0 no-repeat;
    top: 338px;
    left: 0px;
    padding: 50px 0 0 14px;
}
.catalogItems .item .articule .value{
    display: block;
    font-size: 16px;
    line-height: 1em;
    font-family: 'Conv_MyriadPro-Bold';
    color: #cdcfd0;
}
.catalogItems .item .price{
    display: block;
    position: absolute;
    top: 444px;
    left: 0px;
    background: transparent url(../images/rub-bg.png) 186px -11px no-repeat;
    width: 174px;
    height: 60px;
    color: #000000;
    font-family: 'Conv_MyriadPro-Bold';
    font-size: 30px;
    line-height: 50px;
    text-align: right;
    padding: 0 78px 0 0;

}
.catalogItems .item .price.oldPrice{
    text-align: left;
    font-size: 25px;
    color: #444444;
    background: none;
    top: 434px;
}
.catalogItems .item .price.priceRaspr{
    padding-top: 10px;
}
.catalogItems .item .price.not_available{
    background: none;
    text-align: center;
    font-size: 20px;
    color: #444444;
    padding: 0;
    width: 252px;
}
.catalogItems .item .recomend{
    position: absolute;
    top: 0;
    right: 10px;
}
span.img .imgSale,
.catalogItems .item .imgSale{
    position: absolute;
    top: 0;
    left: 10px;
}
.imgSale img {
    width: 13px !important;
    height: 37px !important;
}
.catalogItems .item .recomend img,
.catalogItems .item .imgSale img{
    width: auto;
    height: auto;
    border: none;
}
.catalogItems .item .newIcon{
    display: block;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 60px;
    height: 60px;
    background: transparent url(../images/new.png) 0 0 no-repeat;
}
.sliderMore ul.slides li{
    margin-right: 15px;
    position: relative;
    width: 160px;
    height: 240px;
}
.sliderMore ul.slides li .shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 240px;
    background-color: transparent;
     box-shadow: inset 0px 1px 4px 1px rgba(0,0,0, 0.5);
    -webkit-box-shadow:  inset 0px 1px 4px 1px rgba(0,0,0, 0.5);
    -moz-box-shadow:  inset 0px 1px 4px 1px rgba(0,0,0, 0.5);
}
.product_popup{
    position: relative;
    background: #cbd0d3 url(../images/bgj.jpg) center 0 repeat;
    width: 832px;
    padding: 27px 26px;
    color: #d5d7d8;
    font-size: 17px;
    font-family: 'Conv_MyriadPro-Bold';
    text-shadow:  1px 1px 4px  #181819;
    filter: Shadow(Color=#181819, Direction=45, Strength=4);

}
.product_popup .g-left.image{
    width: 430px;
}
.product_popup .g-right.info{
    width: 402px;
}
.product_popup table.prop td{
    padding: 0 13px 0 0;
    width: 177px;
    text-align: right;
    vertical-align: middle;
}
.product_popup table.prop td.value{
    width: 212px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
.fancybox-wrap.ajax-popup-image .fancybox-close,
.fancybox-wrap.ajax-popup-item .fancybox-close{
    display: block;
    width: 62px;
    height: 65px;
    background: transparent url(../images/close.png) 0 0 no-repeat;
    top: -37px;
    right: -35px;
}
.product_popup .g-left.image .img{
    display: block;
    position: relative;
    width: 402px;
    height: 601px;
}
.product_popup .g-left.image .img img{
    display: block;
    position: relative;
    width: 402px;
    height: 601px;
}
.product_popup .g-left.image .img .shadow{
    display: block;
    position: absolute;
    width: 400px;
    height: 600px;
    top: 1px;
    left: 1px;
    background-color: transparent;
    box-shadow: inset 0px 1px 4px 1px rgba(0,0,0, 0.5);
    -webkit-box-shadow:  inset 0px 1px 4px 1px rgba(0,0,0, 0.5);
    -moz-box-shadow:  inset 0px 1px 4px 1px rgba(0,0,0, 0.5);
}
.product_popup .g-left.image .img .zoom{
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
    width: 47px;
    height: 48px;
    background: transparent url(../images/zoom.png) 0 0 no-repeat;
}
.product_popup .shadow-for-image{
    display: block;
    background: transparent url(../images/shadow-for-image.png) 2px 0 no-repeat;
    width: 400px;
    height: 14px;
}
.product_popup .prop .prop_val{
    margin: 0 0 8px 0;
    color: #2a2927;
    font-size: 15px;
    font-family: 'Conv_MyriadPro-Regular';
    box-shadow: none;
    text-shadow: none;
    filter: Shadow();
    padding-right: 13px;
    width: 195px;
}
.product_popup .prop .prop_val.big{
    background: transparent url(../images/area-input.png) 0 0 no-repeat;
    height: 43px;
    line-height: 1em;
    padding-top: 9px;
    padding-bottom: 9px;
}
.product_popup .price{
    text-shadow: none;
    filter: Shadow();
    text-transform: none;
    font-size: 30px;
    line-height: 70px;
}
.product_popup .availability-wrap{
    background: transparent url('../images/title-line.png') center 0px repeat-x;
    width: 884px;
    margin: 0 -26px 0 -26px;
}
.product_popup table.availability{
    border-collapse: collapse;
    width: 855px;
    margin-left: 29px;
}
.product_popup table.availability tr.header{

    /*margin: 8px 0 0 0;*/
    height: 80px;
    line-height: 76px;
    font-size: 25px;
    color: #d1d3d4;
    font-family: 'Conv_MyriadPro-Bold';
    text-transform: uppercase;
    /*padding: 0 0 0 26px;*/
}
.product_popup table.availability th{
    text-align: center;
    height: 80px;
    line-height: 76px;
}
.product_popup table.availability th.title{
    text-align: left;

}
.product_popup table.availability td{
    text-align: center;
    font-size: 30px;
    color: #d1d3d4;
    font-family: 'Conv_MyriadPro-Bold';
    border: 1px  #d1d3d4 dashed;
    border-right: none;
    border-top: none;
}
.product_popup table.availability td.name{
    padding-left: 4px;
    text-align: left;
    border-left: none;
    border-right: none;
    font-size: 17px;
    line-height: 1.5em;
}
.product_popup table.availability td a{
    color:  #d1d3d4;
}
.product_popup table.availability td.city{
    border-bottom:none;
    border-top:none;
    text-transform: uppercase;
    padding-top: 1em;
}
.popup-shadow-window{
    position: absolute;
    background: transparent url(../images/popup-shadow-item.png) center 0 no-repeat;
    width: 884px;
    height: 14px;
    bottom: -14px;
    left: 0;

}
.loginButtonWrap{
    height: 81px;

}
.loginButtonWrap a{

}
.brend-list{

}
.brend-list .brend-item{
    display: block;
    margin-bottom: 12px;
    padding: 10px;
    background-color: #81d8df;
    color: #000000;
    text-decoration: none;
}
.brend-list .brend-item .img{
    width: 241px;
}
.brend-list .brend-item .preview_text{
    width: 548px;
    padding: 0 0 0 28px;
    font-size: 16px;
    line-height: 1.2;
}
.brend-list .brend-item .title{
    display: blcok;
    font-size: 20px;
    line-height: 1.5em;
}
.brend-list .brend-item p{
    margin: 0 0 0.5em 0;
}
.popup-special-window{
    padding: 20px;
}
#alreadyInCart{
    margin-top: 20px;
    color: #fecc06;
}
.table_in_cart_wrap a{
    color: #fecc06;
}
.tabcolor3 {
    margin: 5px 0;
    border-collapse:collapse;
    padding:0px;

}
.tabcolor3 th {

    font-size:14px;
    padding:5px;
    text-align:left;
}
.tabcolor3 td {
    font-size:14px;
    padding:5px;
    margin:0px;


}
footer .bitrixoid{
    padding: 20px 0 0 0;
    color: #d1d3d4;
    width: 400px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.2em;
    font-family: 'Conv_MyriadPro-Regular';
}
footer .bitrixoid.g-right{
    text-align: right;
}
footer .bitrixoid a{
    color: #d1d3d4;
    text-decoration: none;
}
footer .bitrixoid a:hover{
    text-decoration: underline;
}
.pagenation{
    padding: 20px 0 10px 27px;
}
.pagenation .pageItem a,
.pagenation .pageItem{
    display: block;
    font-size: 25px;
    color: #d1d3d4;
    font-family: 'Conv_MyriadPro-Bold';
    text-align: center;
    line-height: 50px;
}
.pagenation .pageItem .l-bg{
    display: block;
    width: 12px;
    height: 55px;
    background: transparent url(../images/pager-bg-l.png) 0 0 no-repeat;
}
.pagenation .pageItem .c-bg{
    display: block;
    min-width: 21px;
    height: 55px;
    background: transparent url(../images/pager-bg-c.png) 0 0 repeat-x;
}
.pagenation .pageItem .r-bg{
    display: block;
    width: 20px;
    height: 55px;
    background: transparent url(../images/pager-bg-r.png) 0 0 no-repeat;
}
.pagenation .pageItem.cur_page .l-bg{
    display: block;
    width: 12px;
    height: 55px;
    background: transparent url(../images/pager-bg-active-l.png) 0 2px no-repeat;
}
.pagenation .pageItem.cur_page .c-bg{
    display: block;
    min-width: 22px;
    height: 55px;
    background: transparent url(../images/pager-bg-active-c.png) 0 2px repeat-x;
}
.pagenation .pageItem.cur_page .r-bg{
    display: block;
    width: 19px;
    height: 55px;
    background: transparent url(../images/pager-bg-active-r.png) 0 2px no-repeat;
}
.personal-header{
    display: blcok;
}
.personal-header li{
    display: blcok;
    text-align: right;
    line-height: 29px;
    font-size: 17px;
}
.personal-header a{
    color: #d1d3d4;
    display: block;
    text-decoration: none;
}
.personal-header a:hover{
    text-decoration: underline;
}
.personal-header .h-icon-user{
    display: block;
    width: 29px;
    height: 29px;
    background: transparent url(../images/header-icons.png) 0 2px no-repeat;
}
.personal-header .h-icon-orders{
    display: block;
    width: 29px;
    height: 29px;
    background: transparent url(../images/header-icons.png) 0 -32px no-repeat;
}
.personal-header .h-icon-logout{
    display: block;
    width: 29px;
    height: 29px;
    background: transparent url(../images/header-icons.png) 0 -104px no-repeat;
}
.personal-header .h-text{
    padding: 0 18px 0 0;
}
.personal-header .h-link{
    font-family: 'Conv_MyriadPro-Bold';
}
.tabcolor2Cart,
.tabcolor2orders {
    border-collapse:collapse;
    padding:0px;
    border: 1px solid #ccc;
    width: 100%;
}
.tabcolor2Cart th ,
.tabcolor2orders th {
    background-color:#f1f1f1;
    font-size:12px;
    padding:5px;
    text-align:left;
}
.tabcolor2Cart td ,
.tabcolor2orders td {
    padding:5px;
    margin:0px;
    border: 1px solid #ccc;
    background-color:#f9f9f9;
    vertical-align: middle;
}
.tabcolor2Cart td strong ,
.tabcolor2orders td strong {
    color: #333333;
}
table .green { background:#669900; color:white; padding: 2px; font-size: 11px; }
table .redtext { color:#D20000; font-weight: bold; font-size: 11px;}
td.vac{
    vertical-align: middle;
}
.newlistTable p{
    margin: 12px 0;
}



.news-detail h3{
    font-size: 17px;
    color: #669900;
    margin: 1.5em 0 1.5em 0;
}
h1{
    font-family: 'Conv_MyriadPro-Regular';
    color: #000000;
    font-size: 30px;
    line-height: 1.5em;
}
#content .content-bar.basePage{
    padding-bottom: 20px;
}
#content.brends-padding{
    padding-top: 293px;
}

@-moz-document url-prefix() {
    .sidebar .toup,
    .sidebar .todown,
    .sidebar .brand-slider-subwrap {
        display: none;
    }
}
.forFFwrap{
    position: relative;
}
.is-belt {
    width: 230px;
    float: right;
}
#content .in_body.in_body_table {}

.btn {
    height: 75px;
    position: relative;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #331700;
    font-family: 'Conv_MyriadPro-Bold';
    font-size: 20px;
    text-transform: uppercase;
    line-height: 62px;
    padding: 0 20px;
    margin-right: 20px;
}

.btn_orange {
    background: transparent url(../images/button-login.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.btn_blue {
    background: transparent url(../images/btn_blue.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.btn:hover {
    color: transparent;
    text-shadow: 0px 0px 1px rgba(255,255,255,1), 0px 0px 3px rgba(0,0,0,1);
}

/*ul#menu_top li, ul#menu_top li a {width: 215px !important;}*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
