*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.one{
    background-color: red;
}

.two{
    background-color: green;
}

.three{
    background-color: blue;
}

.four{
    background-color: pink;
}

.five{
    background-color: yellow;
}
