@font-face {
    font-family: "GothamPro-Bold";
    src: url("../fonts/GothamPro-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamPro.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "GothamPro-Light";
    src: url("../fonts/GothamPro-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "GothamPro-Black";
    src: url("../fonts/GothamPro-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "AlegreyaSansSC-Black";
    src: url("../fonts/AlegreyaSansSC-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans-Bold";
    src: url("../fonts/FiraSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans-Black";
    src: url("../fonts/FiraSans-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    font-family: "GothamPro-Light";
    font-size: 15px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.content-wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrap{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.jc-center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.jc-between{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.align-cent{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu{
    list-style: none;
}

h3{
    font-family: "FiraSans-Black";
    color: #ffffff;
    font-size: 40px;
    padding-top: 22px;
    padding-bottom: 22px;
    letter-spacing: 1px;
}

a{
    color: #404040;
    text-decoration: none;
}

header{
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-top{
    max-width: 200px;
}

.header-button{
    width: 250px;
    height: 50px;
    color: #bf2602;
    background-color: #fee058;
    -webkit-box-shadow: inset 0px -3px 3px 0px rgba(251, 180, 45, 1),
                inset 0px 3px 3px 0px rgba(254, 239, 168, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
            box-shadow: inset 0px -3px 3px 0px rgba(251, 180, 45, 1),
                inset 0px 3px 3px 0px rgba(254, 239, 168, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
}

.burger{
    width: 50px;
    height: 50px;
    background-color: #fee058;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    -webkit-box-shadow:  0px 6px 10px 0px rgba(50, 50, 50, 0.4),
                inset 0px -3px 3px 0px rgba(251, 180, 45, 1),
                inset 0px 3px 3px 0px rgba(254, 239, 168, 1);
            box-shadow:  0px 6px 10px 0px rgba(50, 50, 50, 0.4),
                inset 0px -3px 3px 0px rgba(251, 180, 45, 1),
                inset 0px 3px 3px 0px rgba(254, 239, 168, 1);   
}

.burger-active{
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 40px;
}

.burger-item{
    width: 28px;
    height: 5px;
    background-color: #bf2602;
    margin-bottom: 5px;
    -webkit-box-shadow: inset 0px -1px 3px 0px rgba(95, 19, 1, 1),
                inset 0px 1px 3px 0px rgba(222, 144, 125, 1);
            box-shadow: inset 0px -1px 3px 0px rgba(95, 19, 1, 1),
                inset 0px 1px 3px 0px rgba(222, 144, 125, 1)
}

.bg-work-1{
    background-color: #fed330;
    background-size: 99% 99%;
}

.bg-work-2{
    background-color: #ffe25e;
    background-size: 99% 99%;
}

.bg-color-orange{
    background-color: #fdc913;
}

.bg-color-green{
    background-color: #19b203;
}

.bg-color-forrest{
    background-color: #447c00;
    margin-bottom: 35px;
}

.top-text{
    font-family: "GothamPro-Bold";
    font-size: 50px;
    color: #0d6700;
    line-height: 56px;
    width: 50%;
    margin-top: 90px;
}

.top-bottom{
    width: 357px;
    height: 65px;
    color: #0d6700;
    margin-bottom: 90px;
    -webkit-box-shadow: inset 0px -2px 3px 0px rgba(255, 223, 127, 1),
                inset 0px 3px 3px 0px rgba(255, 248, 220, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
            box-shadow: inset 0px -2px 3px 0px rgba(255, 223, 127, 1),
                inset 0px 3px 3px 0px rgba(255, 248, 220, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
}

.bottom-text{
    font-family: "GothamPro-Bold";
    color: #ffffff;
    font-size: 20px;
    width: 65%;
    margin-top: 180px;
}

.bottom-text p{
    width: 260px;
}

.top-text p span{
    color: #19b203;
}

.working{
    background-color: #fff088;
}

.work-item{
    margin-top: 40px;
    width: 100%;
    max-width: 310px;
    padding-left: 30px;
    padding-right: 60px;
    padding-bottom: 40px;
}

.work-item img{
    display: block;
    margin-left: 60px;
}

.work-item p{
    font-family: "GothamPro-Bold";
    color: #0d6700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.work-item span{
    color: #313131;
}

.work-skew{
    -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
            transform: skew(-20deg);
    overflow: hidden;
}

.work-normal{
    -webkit-transform: skew(20deg);
        -ms-transform: skew(20deg);
            transform: skew(20deg);
}

.advantage-item{
    width: 100%;
    max-width: 384px;
    border: 1px solid #b8b8b8;
    margin-bottom: 33px;
    padding-right: 10px;
}

.advantage-wrapper{
    margin-top: 90px;
    margin-bottom: 100px;
}

.advantage-item p{
    font-family: "GothamPro-Bold";
    line-height: 23px;
    font-size: 18px;
}

.advantage-item span{
    font-size: 18px;
}

.advantage-item img{
    margin: 25px 35px 27px 23px;
}

.cleaning{
    background-image: url(../img/backround.png);
    padding-bottom: 70px;
    background-size: 100% 100%;
}

.cleaning .bg-color-orange{
    margin-bottom: 80px;
}

form p{
    margin-bottom: 40px;
    width: 50%;
}

button{
    font-family: "FiraSans-Black";
    display: block;
    letter-spacing: 1.5px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    padding-top: 6px;
    outline: none;
}

.discounts{
    background: rgb(254, 217, 89);
    background: -o-linear-gradient(90deg, rgb(254, 217, 89) 50%, rgb(255, 255, 255) 0%);
    background: -o-linear-gradient(left, rgb(254, 217, 89) 50%, rgb(255, 255, 255) 0%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgb(254, 217, 89)), color-stop(0%, rgb(255, 255, 255)));
    background: linear-gradient(90deg, rgb(254, 217, 89) 50%, rgb(255, 255, 255) 0%);
    overflow: hidden;
}

.discounts-item{
    margin-bottom: 90px;
    padding-right: 40px;
}

.discounts-item p{
    font-family: "GothamPro-Bold";
    font-size: 98px;
    margin-top: 60px;
}

.discounts-item p span{
    font-size: 30px;
}

.discounts-item .discounts-info{
    font-family: "GothamPro-Light";
    font-size: 20px;
}

.red{
    color: #cf1d35;
}

.discounts-item .discounts-info span{
    font-family: "GothamPro-Bold";
    font-size: 20px;
}

.status{
    font-family: "GothamPro";
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    height: 49px;
    width: 118%;
    padding-top: 10px;
}

.gift{
    background-image: url(../img/gift.png);
    background-repeat: no-repeat;
    background-position: 100% 150%;
}

.discounts-item.work-normal{
    margin-left: 50px;
}

.last-item{
    width: 881px;
    margin-left: 50px;
}

.golden{
    background-image: url(../img/gold.png);

}

.silver{
    background-image: url(../img/silver.png);
}

.price{
    width: 100%;
    max-width: 333px;
    height: 65px;
    border-radius: 4px;
    margin: 0 auto;
    color: #0d6700;
    margin-top: 40px;
    -webkit-box-shadow: inset 0px -2px 3px 0px rgba(255, 223, 127, 1),
                inset 0px 3px 3px 0px rgba(255, 248, 220, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
            box-shadow: inset 0px -2px 3px 0px rgba(255, 223, 127, 1),
                inset 0px 3px 3px 0px rgba(255, 248, 220, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
}

.prices{
    background: rgb(255,255,255);
    background: -o-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(191,241,130,1) 22%, rgba(181,239,110,1) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(191,241,130,1) 22%, rgba(181,239,110,1) 100%);
    background-position-x: 300px;
}

.scew-block{
    width: 575px;
    height: 188px;
    background-color: #ffffff;
    -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
            transform: skew(-20deg);
    position: relative;
    margin-right: 60px;
}

.prices .flex{
    margin-top: 60px;
}

.scew-block::before{
    content: '';
    position: absolute;
    left: -13px;
    width: 606px;
    height: 200px;
    bottom: 0px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 3px;
}

.scew-block::after{
    content: '';
    position: absolute;
    width: 575px;
    height: 66px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 3px;
}

.normal-text p{
    font-family: "GothamPro-Bold";
    font-size: 82px;
    color: #3b3b3b;
    text-align: center;
    padding-top: 45px;
}

.normal-text p span{
    font-size: 25px;
}

.prices-info{
    font-family: "FiraSans-Bold";
    font-size: 24px;
    color: #3b3b3b;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.order{
    width: 265px;
    height: 70px;
    border-radius: 4px;
    background-color: #d50000;
    color: #ffffff;
    font-size: 24px;
    margin: 0 auto;
    -webkit-box-shadow: inset 0px -2px 3px 0px rgba(160, 0, 0, 1),
                inset 0px 3px 3px 0px rgba(229, 99, 99, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
            box-shadow: inset 0px -2px 3px 0px rgba(160, 0, 0, 1),
                inset 0px 3px 3px 0px rgba(229, 99, 99, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
}

.feedback{
    background: url(../img/s90RVvloRRAx.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.feedback-text{
    width: 295px;
    padding: 23px 20px 25px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 50px;
}

.feedback .flex{
    position: relative;
}

.video-feedback{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

.video-feedback img{
    position: absolute;
    top: 300px;
}

.video-feedback p{
    font-family: "GothamPro-Bold";
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 12px;
}

.feedback-name{
    font-family: "GothamPro-Bold";
    color: #434343;
    font-size: 18px;
    margin-bottom: 23px;;
}

.feedback-parameters span{
    font-family: "GothamPro-Bold";
    color: #434343;
    font-size: 14px;
}

.feedback-tarif{
    margin-bottom: 30px;
}

.feedback-main{
    color: #232323;
    line-height: 23px;
    letter-spacing: -0.5px;
}

.cleaning-girl{
    position: absolute;
    left: 140px;
    width: auto;
}

.owl-nav{
    display: block;
    position: relative;
    bottom: 300px;
}

.owl-nav button{
    border: 20px solid transparent; 
    border-right: 25px solid #fdee87;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    position: absolute;
}

.owl-prev{
    right: 96%;
}

.owl-nav button.owl-next{
    left: 96%;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.owl-prev span,
.owl-next span{
    display: none;
}

.feedback-wrapper{
    padding-left: 50px;
    padding-right: 50px;
}

/* custom checkbox */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 30px; 
  height: 30px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.1);

}
/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: ')';
  position: absolute;
  top: .15em; 
  left: .22em;
  font-size: 10px;
  line-height: 0.8;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  color: #fdc913;
  background: #fdc913;
  width: 28px;
  height: 28px;
}
/* checked mark aspect changes */

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);

}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

label{
    font-family: "GothamPro";
    color: #ffffff;
    font-size: 30px;
    line-height: 54px;
    overflow: hidden;
}

.forms{
    background: rgb(255, 240, 136);
    background: -o-linear-gradient(340deg, rgb(255, 240, 136) 55%, rgb(252, 200, 19) 2%);
    background: linear-gradient(110deg, rgb(255, 240, 136) 55%, rgb(252, 200, 19) 2%);
    border-bottom: 6px solid #ffffff;
    margin-top: -10px;
}

.forms-info{
    margin-top: 80px;
}

.forms-up{
    font-family: "GothamPro-Black";
    font-size: 24px;
    color: #0d6700;
    line-height: 36px;
}

.forms-middle{
    font-family: "GothamPro-Black";
    font-size: 90px;
    color: #0d6700;
    line-height: 39px;
}

.sum-discount{
    color: #ffffff;
    font-size: 106px;
    display: block;
    background-image: url(../img/red.png);
    width: 196px;
    height: 223px;
    margin-left: 40px;
    padding-top: 90px;
    text-align: center;
}    

.sum-discount span{
    font-size: 39px;
}

.forms-down{
    font-family: "GothamPro";
    font-size: 20px;
    color: #ff2728;
    font-weight: bold;
}

.inputs{
    margin-top: 80px;
    margin-right: 100px;
}

.inputs button{
    width: 305px;
    height: 70px;
    background-color: #19b203;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 70px;
    -webkit-box-shadow: inset 0px -2px 3px 0px rgba(25, 143, 1, 1),
                inset 0px 3px 3px 0px rgba(40, 216, 129, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
            box-shadow: inset 0px -2px 3px 0px rgba(25, 143, 1, 1),
                inset 0px 3px 3px 0px rgba(40, 216, 129, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
}

input{
    font-family: "Roboto-Light";
    font-size: 20px;
    display: block;
    width: 305px;
    height: 70px;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 24px;
    border: 0;
}

footer{
    background: rgb(181, 239, 110);
    background: -o-linear-gradient(340deg, rgb(181, 239, 110) 51%, rgb(255, 240, 136) 2%);
    background: linear-gradient(110deg, rgb(181, 239, 110) 51%, rgb(255, 240, 136) 2%);
}

.footer-item:nth-child(1){
    margin-right: 30px;
}

.footer-logo{
    margin-right: 73px;
    margin-top: 30px;
    margin-bottom: 90px;
}

.phone img{
    margin-right: 8px;
}

.phone{
    margin-top: 33px;
    margin-bottom: 35px;
}

.phone a{
    font-family: "FiraSans";
    font-size: 25px;
}

.phone a span{
    font-family: "FiraSans-Bold";
}

.footer-item p{
    font-size: 18px;
    color: #3b3b3b;
    line-height: 26px;
}

.footer-item p span{
    font-family: "GothamPro-Bold";
}

.popup{
    display: none;
    position: fixed;
    top: 70px;
    width: 100%;
    margin: 0 auto;
    z-index: 30;
    max-width: 429px;
    height: 590px;
    background: rgb(140, 201, 46);
    background: -o-linear-gradient(345deg, rgb(140, 201, 46) 53%, rgb(25, 178, 3) 0%);
    background: linear-gradient(105deg, rgb(140, 201, 46) 53%, rgb(25, 178, 3) 0%);
    height: 515px;
    padding-left: 65px;
}

.popup p{
    font-family: "AlegreyaSansSC-Black";
    font-size: 30px;
    color: #fcff00;
    margin-right: 30px;
}

.popup p span{
    color: #ffffff;
}

.overlay{
    display:none;
    position:fixed;
    z-index: 20;
    top:0;
    right:0; 
    left:0;
    bottom:0;
    background:#000; 
    opacity:0.7;
}

.popup-info{
    font-family: "FiraSans";
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 40px;
}

.input-popup{
    background-color: #0f7800;
    margin-bottom: 30px;
}

.input-popup::-webkit-input-placeholder{
    font-family: "FiraSans";
    color: #fcff00;
}

.input-popup::-moz-placeholder{
    font-family: "FiraSans";
    color: #fcff00;
}

.input-popup:-ms-input-placeholder{
    font-family: "FiraSans";
    color: #fcff00;
}

.input-popup::-ms-input-placeholder{
    font-family: "FiraSans";
    color: #fcff00;
}

.input-popup::placeholder{
    font-family: "FiraSans";
    color: #fcff00;
}

.close{
    width: 40px;
    height: 40px;
    background-color: #fee058;
    margin-left: 89%;
    cursor: pointer;
    color: red;
    font-weight: bold;
    text-align: center;
    padding-top: 9px;
    font-size: 20px;
}

.popup-button{
    text-transform: capitalize;
    width: 300px;
    height: 65px;
    background-color: #fee058;
    color: #0c5c01;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px -3px 3px 0px rgba(251, 180, 45, 1),
                inset 0px 3px 3px 0px rgba(254, 239, 168, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
            box-shadow: inset 0px -3px 3px 0px rgba(251, 180, 45, 1),
                inset 0px 3px 3px 0px rgba(254, 239, 168, 1),
                0px 6px 10px 0px rgba(50, 50, 50, 0.4);
}

.aside-menu{
    width: 100%;
    max-width: 782px;
    height: 100vw;
    background-color: #fdc913;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    z-index: 50;
    left: 100%;
}

.aside-menu ul li{
    font-family: "FiraSans-Black";
    font-size: 25px;
    color: #ffffff;
    padding-left: 40px;
    padding-top: 15px;
}

.aside-menu ul li{
    padding-top: 15px;
    padding-bottom: 20px;
}

.aside-menu ul li:hover{
    background-color: #fed536;
}

@media screen and (max-width: 1150px){
    .order{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1065px){
    section.forms div{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media screen and (max-width: 1150px) {
    section.working .content-wrapper.flex,
    footer div,
    .forms-info p.flex.align-cent,
    section.discounts .content-wrapper.flex{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .discounts{
        background: -o-linear-gradient(left, rgb(254, 217, 89) 50%, rgb(254, 217, 89) 0%);
        background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgb(254, 217, 89)), color-stop(0%, rgb(254, 217, 89)));
        background: linear-gradient(90deg, rgb(254, 217, 89) 50%, rgb(254, 217, 89) 0%);
    }
    .top-text,
    .bottom-text{
        width: 100%;
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .discounts-item p{
        font-size: 50px;
    }
    .top-bottom{
        margin-top: 15px;
    }
    .bg-work-1,
    .bg-work-2{
        background: transparent;
    }
    h3{
        font-size: 25px;
        padding-left: 5%;
    }
    .advantage-wrapper,
    section.prices .content-wrapper.flex{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .advantage-item span,
    .advantage-item p{
        font-size: 14px;
    }
    .cleaning{
        background-size: cover;
    }
    header,
    footer,
    .content-wrapper:not(h3 .content-wrapper){
        padding: 0 10px;
    }
    form{
        padding: 3%;
    }
    .scew-block{
        width: 100%;
    }
    .scew-block::before,
    .scew-block::after,
    .prices .content-wrapper.flex img,
    img.cleaning-girl,
    .owl-nav button.owl-next,
    .owl-nav button.owl-prev{
        display: none;
    }
    .normal-text p{
        font-size: 2em;
    }
    .work-skew,
    .work-normal,
    .scew-block{
        -webkit-transform: skew(0deg);
            -ms-transform: skew(0deg);
                transform: skew(0deg);
    }
    .forms-info p.flex.align-cent{
        font-size: 50px;
    }
    .inputs{
        margin-right: 0px;
    }
    .aside-menu ul li{
        font-size: 11px;
        width: 80px;
    }
}

@media screen and (max-width: 800px){
    .feedback-wrapper{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .feedback{
        padding-bottom: 20px;
    }
    form p{
        width: 100%;
    }
    .discounts-item{
        margin-left: 50px;
    }
    header{
        background: #fed536;
    }
    .feedback{
        background: #b5ef6e;
    }
}

@media screen and (max-width: 500px){
    .forms-middle span{
        margin-top: 20px;
    }
    .phone{
        width: 100%;
    }
    .popup{
        padding-left: 1%;
    }
    .video-feedback{
        display: none;
    }
}
