@font-face {
    font-family: MyriadPro-Regular; 
    src: url(fonts/8143.otf); 
   }

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

header{
    width: 100%;
    background-image: url(img/bgh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1076px;
}

.top__header{
    width: 100%;
    max-width: 1076px;
    margin: 0 auto;
    padding: 16px 0 17px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapper{
    width: 100%;
    max-width: 1076px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo{
    margin-right: 80px;
}

.text-logo{
    margin-bottom: 25px;
}

nav{
    position: relative;
    height: 97px;
    min-width: 1076px;
    background-image: url(img/menu-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
    margin-top: -8px;
    padding-top: 1.6rem;
}

.phone{
    color: #ffffff;
    font-size: 39px;
    font-weight: bold;
    line-height: 0px;
    font-family: 'MyriadPro-Regular';
    letter-spacing: 1px;
}

.phone-1{
    margin-right: 39px;
}

.form-wrapper{
    margin-left: 65px;
}

.button1 {
    display: block;
    width: 170px;
    height: 43px;
    background: transparent url(img/button-login.png);
    background-size: 100% 54px;
    color: #331600;
    text-decoration: none;
    font-size: 20px;
    line-height: 47px;
    text-align: center;
    font-family: 'Conv_MyriadPro-Bold';
    font-weight: bold;
    }

.loginDescription{
    color: #d1d3d4;
    text-shadow: 0px 1px 1px #ffffff, 0px 1px 2px #000000;
    font-family: 'Conv_MyriadPro-Bold';
    font-size: 13px;
    text-align: center;
    height: 1em;
    display: block;
    width: 142px;
    line-height: 13px;
    margin-bottom: 3px;
}

.cart-inhead{
    overflow: hidden;
    padding: 3px 45px 0px 13px;
    line-height: 22px;
    height: 25px;
    font-size: 14px;
    display: block;
    position: relative;
    background: transparent url(img/cart.png) 0 0 no-repeat;
    background-size: 100% 99%;
    text-decoration: none;
}

.cart_icon{
    display: block;
    position: absolute;
    background: transparent url(img/cart-b.png) 0 0 no-repeat;
    width: 26px;
    height: 26px;
    top: -2px;
    right: 0;
    background-size: cover;
}

.top-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.top-menu__item{
    list-style: none;
    text-transform: uppercase;
    margin-right: 11px;
    position: relative;
    }

.top-menu__item > a{
    color: #000000;
    text-decoration: none;
    background-image: url(img/button-login.png);
    background-size: cover;
    display: block;
    width: 162px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'MyriadPro-Regular';
    text-align: center;
    padding-top: 12px;
    }

    .top-menu__item a:hover{
        color: #ffffff;
    }

.search_hd{
    width: 0px;
    height: 0px;
    border: 0;
}

.popup_search{
    width: 332px;
    height: 148px;
    background-image: url(img/popup.png);
    position: absolute;
    z-index: 20;
    top: 94%;
    left: -285px;
    padding: 35px 13px 20px 17px;
    display: none;
}

.value{
    color: #000000;
    text-decoration: none;
}

.header-search{
    width: 200px;
    height: 28px;
    border-radius: 4px;
    -webkit-box-shadow: inset 3px 2px 5px 1px #a1a1a1;
            box-shadow: inset 3px 2px 5px 1px #a1a1a1;
    padding-left: 10px;
    padding-top: 2px;
}

.header-search__short{
    width: 143px;
    margin-right: 16px;
}

body > div > div > input:nth-child(2){
    margin-right: 0px;
}

.header-search__long::-webkit-input-placeholder{
    font-size: 15px;
    color: #bbbbbb;
}

.header-search__long::-moz-placeholder{
    font-size: 15px;
    color: #bbbbbb;
}

.header-search__long:-ms-input-placeholder{
    font-size: 15px;
    color: #bbbbbb;
}

.header-search__long::-ms-input-placeholder{
    font-size: 15px;
    color: #bbbbbb;
}

.header-search__long::placeholder{
    font-size: 15px;
    color: #bbbbbb;
}

.form-bottom{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-search__short::-webkit-input-placeholder{
    font-size: 15px;
    color: #32302d;
}

.header-search__short::-moz-placeholder{
    font-size: 15px;
    color: #32302d;
}

.header-search__short:-ms-input-placeholder{
    font-size: 15px;
    color: #32302d;
}

.header-search__short::-ms-input-placeholder{
    font-size: 15px;
    color: #32302d;
}

.header-search__short::placeholder{
    font-size: 15px;
    color: #32302d;
}

.search__submit{
    background-image: url(img/button-login.png);
    width: 108px;
    height: 30px;
}

.search_wrap{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.search__button{
    display: block;
    background-image: url(img/button-login.png);
    width: 106px;
    height: 30px;
    background-size: cover;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #32302d;
    padding-top: 6px;
    position: relative;
    right: 4px;
    border-radius: 8px;
    padding-bottom: 5px;
}

/* dropdown menu */

.ins{
    position: absolute;
    top: 47px;
    left: 0;
    margin: 0 0 0 0;
    padding: 0px 50px 0px 27px;
    background: transparent url(img/menu-i-bg-b.png);
    background-size: contain;
    width: 239px;
    display: none;
}

.ins li{
    display: block;
    background: none;
    height: auto;
    text-align: left;
    float: none;
    padding: 4px 0;
    width: auto;
    position: relative;
    padding-bottom: 16px;
    background-image: url(img/split-sub.png);
    background-repeat: no-repeat;
}

.ins li a{
    position: relative;
    font-size: 20px;
    line-height: 1em;
    text-transform: uppercase;
    color: #cdcfd0;
    letter-spacing: 0.05em;
    background: none;
    text-decoration: none;
    font-family: MyriadPro-Regular; 
    padding-top: 20px;
    display: block;
}

.ins .first{
    background-image: none;
}

.top-menu__item:hover .ins{
    display: block;
}
